Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

keep blocking io off the main worker
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Drop lock before registry cleanup
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Skip name-index lock when index exists
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Bound the name-index lock registry and cover it with a deterministic test
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Fix lock drop borrow error
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Rebuild workspace name index after a failed build instead of serving it empty
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Guard index fast path with try_lock
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Async (4): branches::list to async
  crates/liboxen/src/api/client/branches.rs
  crates/liboxen/src/core/refs/ref_manager.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/branches.rs
  crates/liboxen/src/repositories/checkout.rs
  crates/liboxen/src/repositories/commits.rs
  crates/liboxen/src/repositories/fetch.rs
  crates/oxen-cli/src/cmd/branch.rs
  crates/oxen-py/src/py_repo.rs
  crates/oxen-server/src/controllers/branches.rs
  crates/oxen-server/src/controllers/commits.rs
  crates/oxen-server/src/controllers/repositories.rs
  docs/async_policy.md
Due: none

Revert "Async (1): Temporarily bump oxen-server worker count"
  crates/oxen-server/src/main.rs
Due: none

more rules
  docs/async_policy.md
Due: none

Async (6): Shared resolution seam — get_repo + parse_resource to async (additive)
  crates/liboxen/src/core/v_latest/resource.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/resource.rs
  crates/oxen-server/src/controllers/dir.rs
  crates/oxen-server/src/controllers/revisions.rs
  crates/oxen-server/src/helpers.rs
  crates/oxen-server/src/params.rs
Due: none

Remove -no_compact_unwind linker flag that broke C++ exception handling
  .cargo/config.toml
Due: none

Update README for clarity and accuracy
  README.md
Due: none

Allow the expected __eh_frame-too-large linker note on macOS
  .cargo/config.toml
  Cargo.toml
Due: cargo-sort

Address review findings in the crash guards and metadata sync
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/columns.rs
  crates/liboxen/src/repositories/workspaces/data_frames/embeddings.rs
  docs/deprecations.md
Due: none

cargo fmt
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/repositories/workspaces/data_frames/embeddings.rs
Due: none

Fix two macOS server aborts from unbindable DuckDB statements
  Cargo.lock
  Cargo.toml
  crates/liboxen/src/api/client/workspaces/data_frames/embeddings.rs
  crates/liboxen/src/api/client/workspaces/data_frames/rows.rs
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/repositories/workspaces/data_frames/embeddings.rs
Due: cargo-sort

Remove workspace data frame reversibility layer
  crates/liboxen/src/api/client/workspaces/data_frames.rs
  crates/liboxen/src/api/client/workspaces/data_frames/rows.rs
  crates/liboxen/src/core/db/data_frames.rs
  crates/liboxen/src/core/db/data_frames/changes_db.rs
  crates/liboxen/src/core/db/data_frames/column_changes_db.rs
  crates/liboxen/src/core/db/data_frames/columns.rs
  crates/liboxen/src/core/db/data_frames/row_changes_db.rs
  crates/liboxen/src/core/db/data_frames/rows.rs
  crates/liboxen/src/core/db/data_frames/workspace_df_db.rs
  crates/liboxen/src/core/v_latest/workspaces.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/columns.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/rows.rs
  crates/liboxen/src/core/v_latest/workspaces/diff.rs
  crates/liboxen/src/repositories/workspaces.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames/columns.rs
  crates/liboxen/src/repositories/workspaces/data_frames/rows.rs
  crates/liboxen/src/repositories/workspaces/diff.rs
  crates/liboxen/src/test.rs
  crates/liboxen/src/view/data_frames.rs
  crates/liboxen/src/view/data_frames/columns.rs
  crates/liboxen/src/view/json_data_frame_view.rs
  crates/oxen-cli/src/cmd/workspace.rs
  crates/oxen-cli/src/cmd/workspace/diff.rs
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/columns.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/embeddings.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/rows.rs
  crates/oxen-server/src/services/workspaces/data_frames.rs
  crates/oxen-server/src/services/workspaces/data_frames/columns.rs
  crates/oxen-server/src/services/workspaces/data_frames/rows.rs
  crates/oxen-server/src/test.rs
Due: none

Address CodeRabbit feedback on the embedding query guards
  crates/liboxen/src/repositories/workspaces/data_frames/embeddings.rs
  crates/oxen-server/src/errors.rs
  docs/deprecations.md
Due: none

Log backtraces on fatal signals
  Cargo.lock
  Cargo.toml
  crates/oxen-server/Cargo.toml
  crates/oxen-server/src/crash_diagnostics.rs
  crates/oxen-server/src/main.rs
Due: cargo-sort

Drop SIGSEGV from signal handler
  crates/oxen-server/src/crash_diagnostics.rs
Due: none

Gate crash diagnostics to unix
  crates/oxen-server/Cargo.toml
  crates/oxen-server/src/crash_diagnostics.rs
Due: cargo-sort

Address second CodeRabbit pass on the embedding + metadata sync
  crates/liboxen/src/core/v_latest/workspaces/data_frames/columns.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames/embeddings.rs
Due: none

Drop the workspace data frame tracking columns
  crates/liboxen/src/api/client/data_frames.rs
  crates/liboxen/src/api/client/workspaces/data_frames/embeddings.rs
  crates/liboxen/src/api/client/workspaces/data_frames/rows.rs
  crates/liboxen/src/constants.rs
  crates/liboxen/src/core/db/data_frames.rs
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/db/data_frames/rows.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames.rs
  crates/liboxen/src/model.rs
  crates/liboxen/src/model/staged_row_status.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames/rows.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/rows.rs
Due: none

Address review findings in the legacy-table gate and edit semantics
  crates/liboxen/src/constants.rs
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/db/data_frames/rows.rs
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/rows.rs
Due: none

Address CodeRabbit feedback on the tracking-column removal
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/db/data_frames/rows.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/columns.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames/rows.rs
Due: none

Fix no-op-export skip dropping metadata-only edits
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
Due: none

Gate the commit no-op base-node lookup behind the Modified check
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
Due: none

Register signals before listener spawn
  crates/oxen-server/src/crash_diagnostics.rs
  crates/oxen-server/src/main.rs
Due: none

Remove dead code left by the tracking-column and reversibility removal
  crates/liboxen/src/api/client/workspaces/data_frames/columns.rs
  crates/liboxen/src/constants.rs
  crates/liboxen/src/core/db/data_frames/workspace_df_db.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/columns.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/rows.rs
  crates/liboxen/src/model/data_frame/schema.rs
  crates/liboxen/src/model/data_frame/schema/field.rs
  crates/liboxen/src/model/data_frame/update_result.rs
  crates/liboxen/src/repositories/diffs/join_diff.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/view/json_data_frame_view.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/rows.rs
Due: none

Address CodeRabbit feedback on the client cleanup
  crates/liboxen/src/view/json_data_frame_view.rs
  oxen-python/python/oxen/data_frame.py
Due: ruff-check, ruff-format

Clean up client surfaces after the tracking-column removal
  crates/oxen-cli/src/cmd/df.rs
  oxen-python/python/oxen/data_frame.py
  oxen-python/tests/test_data_frame.py
Due: ruff-check, ruff-format

fix sorting with virtual rowid in duckdb
  crates/liboxen/src/view/json_data_frame_view.rs
Due: none

ruff format
  oxen-python/python/oxen/data_frame.py
Due: ruff-check, ruff-format

bump to rust 1.97.1
  rust-toolchain.toml
Due: none

DuckDB Tracking (4/4): Clean up client surfaces after the tracking-column removal (#751)
  crates/liboxen/src/view/json_data_frame_view.rs
  crates/oxen-cli/src/cmd/df.rs
  oxen-python/python/oxen/data_frame.py
  oxen-python/tests/test_data_frame.py
Due: ruff-check, ruff-format

Return a typed 409 for committing a stale workspace data frame
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/error.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/oxen-server/src/errors.rs
Due: none

DuckDB Tracking (3/4): Drop the workspace data frame tracking columns (#744)
  crates/liboxen/src/api/client/data_frames.rs
  crates/liboxen/src/api/client/workspaces/data_frames/columns.rs
  crates/liboxen/src/api/client/workspaces/data_frames/embeddings.rs
  crates/liboxen/src/api/client/workspaces/data_frames/rows.rs
  crates/liboxen/src/constants.rs
  crates/liboxen/src/core/db/data_frames.rs
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/db/data_frames/rows.rs
  crates/liboxen/src/core/db/data_frames/workspace_df_db.rs
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/columns.rs
  crates/liboxen/src/core/v_latest/workspaces/data_frames/rows.rs
  crates/liboxen/src/error.rs
  crates/liboxen/src/model.rs
  crates/liboxen/src/model/data_frame/schema.rs
  crates/liboxen/src/model/data_frame/schema/field.rs
  crates/liboxen/src/model/data_frame/update_result.rs
  crates/liboxen/src/model/staged_row_status.rs
  crates/liboxen/src/repositories/diffs/join_diff.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames/rows.rs
  crates/liboxen/src/view/json_data_frame_view.rs
  crates/oxen-cli/src/cmd/df.rs
  crates/oxen-server/src/controllers/workspaces/data_frames/rows.rs
  crates/oxen-server/src/errors.rs
  oxen-python/python/oxen/data_frame.py
  oxen-python/tests/test_data_frame.py
Due: ruff-check, ruff-format
