Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

script to upload individual files from a shared root dir
  scripts/reupload-single.py
Due: none

Return Ok(None) when path isn't found in Merkle tree
  oxen-rust/src/lib/src/core/v_latest/diff.rs
  oxen-rust/src/lib/src/core/v_latest/index/commit_merkle_tree.rs
  oxen-rust/src/lib/src/model/merkle_tree/node/merkle_tree_node.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Removed unused function
  oxen-rust/src/lib/src/core/v_latest/index/commit_merkle_tree.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

error_wrapper! macro & refactor to use it + new CommitError + new OxenError variants
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/error/commit_error.rs
  oxen-rust/src/lib/src/error/path_buf_error.rs
  oxen-rust/src/lib/src/error/string_error.rs
  oxen-rust/src/lib/src/error/wrapper.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

use them
  oxen-rust/src/lib/src/core/v_latest/index/commit_merkle_tree.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

addressing review feedback
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/cli/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
  oxen-rust/src/server/Cargo.toml
Due: cargo-sort

addressing review feedback
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/cli/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
  oxen-rust/src/lib/src/s3_tests.rs
  oxen-rust/src/lib/src/test.rs
  oxen-rust/src/oxen-test/Cargo.toml
  oxen-rust/src/oxen-test/src/lib.rs
  oxen-rust/src/oxen-test/src/test.rs
  oxen-rust/src/server/Cargo.toml
  scripts/bump-version.sh
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

claude found recursive functions in oxen-rust
  oxen-rust/recursive_functions_report.md
Due: none

addressing feedback
  oxen-python/Cargo.lock
  oxen-rust/src/lib/src/test.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

cargo-sort
  oxen-rust/Cargo.toml
Due: cargo-sort

use priority queue for `oxen log`
  oxen-rust/src/lib/src/core/v_latest/commits.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

use heap
  oxen-rust/src/lib/src/core/v_latest/commits.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix checkout bugs
  oxen-rust/src/lib/src/core/v_latest/branches.rs
  oxen-rust/src/lib/src/repositories/checkout.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

help message in case of push failure.
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/src/api/client/tree.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

fix linter
  oxen-rust/Cargo.toml
Due: cargo-sort

fix cargo sort
  oxen-rust/Cargo.toml
Due: cargo-sort

fix remote mode bug and add tests
  oxen-rust/src/lib/src/core/v_latest/branches.rs
  oxen-rust/src/lib/src/repositories/remote_mode/checkout.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add errors to debug logs
  oxen-rust/src/lib/src/core/v_latest/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix ci error
  oxen-python/Cargo.toml
  oxen-python/tests/test_workspace_add.py
Due: cargo-sort, ruff-check, ruff-format

wip
  oxen-python/Cargo.toml
Due: cargo-sort

remove cargo sort from the pre-commit config since it passes locally but is fails in CI without any indication as to what the difference is
  .pre-commit-config.yaml
Due: none

fix broken bump-version.sh script, have it also update the readme
  scripts/bump-version.sh
Due: none

address review feedback--readme updates and a tweak to the test-rust script
  README.md
  oxen-rust/README.md
  oxen-rust/scripts/test-rust
Due: none

tweak
  scripts/reorganize-dataset.py
Due: none

tweaking
  scripts/generate-dataset.py
Due: none

formatted with ruff
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
  scripts/reupload-single.py
Due: none

ruff check --fix .
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
  scripts/reupload-single.py
Due: none

tweaks
  scripts/generate-dataset.py
Due: none

Re-format all Cargo.tomls with updated cargo-sort version
  oxen-python/Cargo.toml
  oxen-rust/Cargo.toml
Due: cargo-sort

wip
  oxen-rust/src/lib/src/api/client.rs
  oxen-rust/src/lib/src/api/client/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Revert "wip"
  oxen-rust/src/lib/src/api/client.rs
  oxen-rust/src/lib/src/api/client/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Re-format all Cargo.tomls with updated cargo-sort version (#314)
  oxen-python/Cargo.toml
  oxen-rust/Cargo.toml
Due: cargo-sort

allow for no version installs
  scripts/install-pre-reqs.sh
Due: none

Dev pre-req install script
  README.md
  scripts/install-pre-reqs.sh
Due: none

use prereq script
  .github/workflows/ci_lint.yml
Due: none

fix package
  scripts/install-pre-reqs.sh
Due: none

explicit versions and CI, pre-commit hooks, and pre-req install script use the same
  .github/workflows/ci_lint.yml
  .pre-commit-config.yaml
  scripts/install-pre-reqs.sh
  tool-versions.env
Due: none

review feedback
  README.md
  scripts/install-pre-reqs.sh
Due: none
