Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

cargo-fmt-oxen-rust:
  name: cargo fmt (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo fmt'
  language: system
  pass_filenames: false

cargo-fmt-oxen-python:
  name: cargo fmt (oxen-python)
  entry: bash -c 'cd oxen-python && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy-oxen-rust:
  name: cargo clippy (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-clippy-oxen-python:
  name: cargo clippy (oxen-python)
  entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check (oxen-python)
  entry: bash -c 'uvx ruff check oxen-python/'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format (oxen-python)
  entry: bash -c 'uvx ruff format oxen-python/'
  language: system
  pass_filenames: false

Crate Deps (7.1): Move polars work off async worker threads
  crates/liboxen/src/api/client/compare.rs
  crates/liboxen/src/core/df/tabular.rs
  crates/liboxen/src/core/v_latest/add.rs
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/core/v_latest/workspaces/files.rs
  crates/liboxen/src/model/repository/local_repository.rs
  crates/liboxen/src/repositories/diffs.rs
Due: none

Crate Deps (7.2): Update polars to 0.55 and the pyo3 family to 0.29
  Cargo.lock
  Cargo.toml
  crates/liboxen/Cargo.toml
  crates/liboxen/src/api/client/data_frames.rs
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/db/data_frames/rows.rs
  crates/liboxen/src/core/df/tabular.rs
  crates/liboxen/src/model/diff/add_remove_modify_counts.rs
  crates/liboxen/src/repositories/diffs.rs
  crates/liboxen/src/repositories/diffs/join_diff.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/view/json_data_frame.rs
  crates/liboxen/src/view/json_data_frame_view.rs
  crates/oxen-py/src/diff/py_text_diff.rs
  crates/oxen-py/src/py_remote_repo.rs
  crates/oxen-py/src/py_types.rs
  crates/oxen-py/src/py_user.rs
  crates/oxen-py/src/py_workspace.rs
Due: cargo-sort

Read whether the repository is empty before renaming it, so a completed rename never answers with an error
  crates/oxen-server/src/controllers/repositories.rs
Due: none

Streamline Tests (21): Merge the duplicate dataframe-conflict merge tests
  AGENTS.md
  crates/liboxen/src/repositories/merge.rs
Due: none

Diff the right-hand file at its own revision when updating a tabular compare
  crates/liboxen/src/api/client/compare.rs
  crates/oxen-server/src/controllers/diff.rs
Due: none

Removal Semantics (1.4): Fix a phantom argument and a dead link in the Python docstrings
  oxen-python/python/oxen/oxen_fs.py
  oxen-python/python/oxen/repo.py
Due: ruff-check, ruff-format

temp debugging
  .github/workflows/ci_test.yml
Due: none

bump s3s to 0.17
  Cargo.lock
  Cargo.toml
Due: cargo-sort

Restore the runner PATH for the probe's tool setup
  .github/workflows/ci_test.yml
Due: none

Find python3.dll and cmd without System32 on the probe's PATH
  .github/workflows/ci_test.yml
Due: none

Build the CI CLI without the Python bindings so it starts on Windows
  .github/workflows/ci_test.yml
Due: none

Assert the long last row's contents in the JSONL slice test
  crates/liboxen/src/core/df/tabular.rs
Due: none

Fix the build broken by the rename's call to NameTable::open
  crates/liboxen/src/repositories.rs
Due: none

S3 (31.5.1): Remove oxen-server's built-in authentication
  .github/workflows/ci_test.yml
  .github/workflows/ci_test_nfs.yml
  Cargo.lock
  Cargo.toml
  SelfHosting.md
  bin/otel-metrics-test
  bin/test-rust
  crates/liboxen/README.md
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/sync_dir.rs
  crates/oxen-server/Cargo.toml
  crates/oxen-server/README.md
  crates/oxen-server/src/auth.rs
  crates/oxen-server/src/auth/access_keys.rs
  crates/oxen-server/src/auth/validator.rs
  crates/oxen-server/src/lib.rs
  crates/oxen-server/src/main.rs
  crates/oxen-server/src/test.rs
  docs/deprecations.md
  docs/migrations.md
Due: cargo-sort

Restore cleanup in the bounding-box CSV test helper
  crates/liboxen/src/test.rs
Due: none

S3 (32.1.1): Build the S3 prefix from the repository's UUID
  SelfHosting.md
  crates/liboxen/src/error.rs
  crates/liboxen/src/model/repository/local_repository.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/storage/version_store.rs
  crates/oxen-server/src/controllers/repositories.rs
  docs/error_handling.md
  docs/migrations.md
Due: none

Fix stale Cargo.lock
  Cargo.lock
Due: none

Crate Deps (8): Update utoipa to 6 and utoipa-swagger-ui to 10
  Cargo.lock
  Cargo.toml
Due: cargo-sort

Run workspace file moves and removals off the actix worker
  crates/liboxen/src/core/v_latest/workspaces/files.rs
  crates/liboxen/src/repositories/tree.rs
  crates/liboxen/src/repositories/workspaces.rs
  crates/liboxen/src/repositories/workspaces/files.rs
  crates/liboxen/src/test.rs
  crates/oxen-server/src/controllers/file.rs
  crates/oxen-server/src/controllers/workspaces/files.rs
  crates/oxen-server/src/test.rs
Due: none

Tell S3 operators to add a missing identity by hand
  docs/migrations.md
Due: none

Refresh Cargo.lock
  Cargo.lock
Due: none

Drop the self-hosting note on repositories that predate identity
  SelfHosting.md
Due: none

List the S3 prefix migration under 0.60.0
  docs/migrations.md
Due: none

Stage a workspace removal's paths in one blocking hop
  crates/liboxen/src/core/v_latest/workspaces/files.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/files.rs
  crates/oxen-server/src/controllers/file.rs
  crates/oxen-server/src/controllers/workspaces/files.rs
Due: none

Resolve the repo and resource off the worker in the move, add, and removal handlers
  crates/oxen-server/src/controllers/file.rs
  crates/oxen-server/src/controllers/workspaces/files.rs
Due: none

Assert the yield on existing move and removal tests instead of new ones
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/files.rs
  crates/oxen-server/src/controllers/workspaces/files.rs
  crates/oxen-server/src/test.rs
Due: none

Keep the catch-all test comment on the test module it describes
  crates/liboxen/src/test.rs
Due: none

Take a parameter's concrete type unless a generic earns its place
  AGENTS.md
Due: none

[DO NOT MERGE] Cold baseline: fresh cache keys, default dev profile
  .github/workflows/ci_build_production.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
Due: none

S3 (32.1.2): Refuse a namespace called `repo` or `name_table`
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/sync_dir.rs
  crates/oxen-server/src/main.rs
  docs/deprecations.md
  docs/migrations.md
Due: none

[DO NOT MERGE] Build dependencies at opt-level s; fresh cache keys saved from this PR
  .github/workflows/ci_build_production.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
  Cargo.toml
Due: cargo-sort

[DO NOT MERGE] Warm opt-s: time only jobs with a saved cache
  .github/workflows/ci.yml
  .github/workflows/ci_test.yml
Due: none

[DO NOT MERGE] Warm baseline: main's profile and caches
  .github/workflows/ci_build_production.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
  Cargo.toml
Due: cargo-sort

Split the concrete-parameter-type rule into one point per bullet
  AGENTS.md
Due: none

Document how RocksDB databases are opened and evicted
  AGENTS.md
Due: none

Async (18.2): Stop a path's commit history at the requested page and report has_more
  crates/liboxen/src/api/client/commits.rs
  crates/liboxen/src/core/v_latest/commits.rs
  crates/liboxen/src/repositories/commits.rs
  crates/liboxen/src/view.rs
  crates/liboxen/src/view/commit.rs
  crates/oxen-py/src/py_commit.rs
  crates/oxen-py/src/py_remote_repo.rs
  crates/oxen-server/src/controllers/commits.rs
  crates/oxen-server/src/main.rs
  oxen-python/python/oxen/remote_repo.py
  oxen-python/tests/test_workspace_commit.py
Due: ruff-check, ruff-format

Reject a zero page size on the commit history endpoint
  crates/oxen-server/src/controllers/commits.rs
  oxen-python/tests/test_workspace_commit.py
Due: ruff-check, ruff-format

Mark the config edit in the repo-namespace migration as an example
  docs/migrations.md
Due: none

List the names deleting the name table releases before moving a `repo` namespace
  docs/migrations.md
Due: none

Path conditions:
  cargo-fmt-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-fmt-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-clippy-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-clippy-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-sort: any of: Cargo\.toml$
  ruff-check: any of: ^oxen-python/.*\.py$
  ruff-format: any of: ^oxen-python/.*\.py$
