Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

cargo-fmt-oxen-rust:
  name: cargo fmt (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo fmt'
  language: system
  pass_filenames: false

cargo-fmt-oxen-python:
  name: cargo fmt (oxen-python)
  entry: bash -c 'cd oxen-python && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy-oxen-rust:
  name: cargo clippy (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-clippy-oxen-python:
  name: cargo clippy (oxen-python)
  entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check (oxen-python)
  entry: bash -c 'uvx ruff check oxen-python/'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format (oxen-python)
  entry: bash -c 'uvx ruff format oxen-python/'
  language: system
  pass_filenames: false

Re-derive the Python library path in test-rust (#392)
  bin/test-rust
Due: none

switch order of parse resource to prefer branches over workspaces (#391)
  crates/lib/src/core/v_latest/resource.rs
  crates/lib/src/lib.rs
  crates/lib/src/repositories/add.rs
  crates/lib/src/repositories/commits.rs
  crates/lib/src/repositories/init.rs
  crates/lib/src/repositories/push.rs
  crates/lib/src/repositories/restore.rs
  crates/lib/src/repositories/status.rs
  crates/lib/src/repositories/workspaces.rs
  crates/lib/src/resource.rs
  crates/lib/src/test.rs
Due: none

Let DuckDB query error propagate correctly
  crates/lib/src/core/db/data_frames/df_db.rs
Due: none

Let DuckDB query error propagate correctly (#395)
  crates/lib/src/core/db/data_frames/df_db.rs
Due: none

Remove unused async-std-runtime feature from oxen-py (#389)
  Cargo.lock
  Cargo.toml
Due: cargo-sort

add force_update to the upload endpoints to create a new latest commit for a resource
  crates/lib/src/api/client/import.rs
  crates/lib/src/api/client/workspaces/commits.rs
  crates/lib/src/api/client/workspaces/files.rs
  crates/lib/src/core/v_latest/add.rs
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/lib/src/repositories/commits/commit_writer.rs
  crates/lib/src/repositories/workspaces/files.rs
  crates/server/src/controllers/import.rs
  crates/server/src/controllers/versions/chunks.rs
  crates/server/src/controllers/workspaces/files.rs
Due: none

make sure force_update works on large files too
  crates/lib/src/api/client/versions.rs
  crates/lib/src/api/client/workspaces/commits.rs
  crates/lib/src/api/client/workspaces/files.rs
  crates/lib/src/core/v_latest/push.rs
  crates/lib/src/view/versions.rs
  crates/server/src/controllers/versions/chunks.rs
Due: none

implement S3VersionStore::store_version_from_reader
  .claude/CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/lib/src/error.rs
  crates/lib/src/storage/s3.rs
Due: cargo-sort

Remove unused status_code() method
  crates/server/src/errors.rs
Due: none

Remove unused status_code() method (#394)
  crates/server/src/errors.rs
Due: none

use a unique python name to avoid the warning from Cargo that the cli and oxen-py produce an artifact with the same name that will be disallowed in the future
  crates/oxen-py/Cargo.toml
  crates/oxen-py/src/lib.rs
  oxen-python/python/oxen/__init__.py
  oxen-python/python/oxen/auth.py
  oxen-python/python/oxen/config.py
  oxen-python/python/oxen/data_frame.py
  oxen-python/python/oxen/df_utils.py
  oxen-python/python/oxen/oxen_fs.py
  oxen-python/python/oxen/remote_repo.py
  oxen-python/python/oxen/user.py
  oxen-python/python/oxen/workspace.py
Due: cargo-sort, ruff-check, ruff-format

Expose Content-Length for CORS headers to send through hub
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/lib/src/util/fs.rs
  crates/server/src/controllers/file.rs
  crates/server/src/controllers/versions.rs
  crates/server/src/controllers/workspaces/files.rs
  crates/server/src/helpers.rs
Due: none

fix doc string on get_version_derived_size
  crates/lib/src/storage/version_store.rs
Due: none

Expose Content-Length for CORS headers to send through hub (#400)
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/lib/src/util/fs.rs
  crates/server/src/controllers/file.rs
  crates/server/src/controllers/versions.rs
  crates/server/src/controllers/workspaces/files.rs
  crates/server/src/helpers.rs
Due: none

disable debug logging for h2 library.
  crates/lib/src/util/logging.rs
Due: none

add ability to sort by latest_commit on directories
  crates/lib/src/core/v_latest/entries.rs
  crates/lib/src/opts.rs
  crates/lib/src/opts/sort_opts.rs
  crates/lib/src/repositories/entries.rs
  crates/server/src/controllers/dir.rs
  crates/server/src/params/page_num_query.rs
Due: none

make the sort params work with depth
  crates/lib/src/api/client/dir.rs
  crates/lib/src/core/v_latest/entries.rs
  crates/lib/src/repositories/entries.rs
Due: none

clear up logs from other library as well as, show request id in client side logs
  crates/lib/src/api/client.rs
  crates/lib/src/api/client/entries.rs
  crates/lib/src/config/auth_config.rs
  crates/lib/src/util/logging.rs
Due: none

fix env variable precendance
  crates/lib/src/util/logging.rs
Due: none

disable debug logging for h2, reqwest, hyper_util libraries + request id in cli logs (#401)
  crates/lib/src/api/client.rs
  crates/lib/src/api/client/entries.rs
  crates/lib/src/config/auth_config.rs
  crates/lib/src/util/logging.rs
Due: none

point maturin to the renamed rust module
  oxen-python/pyproject.toml
Due: none

use oxen_py instead of _oxen
  crates/oxen-py/Cargo.toml
  crates/oxen-py/src/lib.rs
  oxen-python/pyproject.toml
  oxen-python/python/oxen/__init__.py
  oxen-python/python/oxen/auth.py
  oxen-python/python/oxen/config.py
  oxen-python/python/oxen/data_frame.py
  oxen-python/python/oxen/df_utils.py
  oxen-python/python/oxen/oxen_fs.py
  oxen-python/python/oxen/remote_repo.py
  oxen-python/python/oxen/user.py
  oxen-python/python/oxen/workspace.py
Due: cargo-sort, ruff-check, ruff-format

fix import paths
  oxen-python/python/oxen/diff/diff.py
  oxen-python/python/oxen/diff/line_diff.py
  oxen-python/python/oxen/diff/tabular_diff.py
  oxen-python/python/oxen/diff/text_diff.py
Due: ruff-check, ruff-format

fix python tests which had hard-coded oxen-server port
  oxen-python/tests/test_data_frame.py
Due: ruff-check, ruff-format

add a way to automatically test python
  .claude/CLAUDE.md
  bin/test-rust
Due: none

improve error messaging for sort opts when sorting a directory, and improve unit tests
  crates/lib/src/api/client/dir.rs
  crates/lib/src/command/ls.rs
  crates/lib/src/opts/sort_opts.rs
  crates/lib/src/repositories/entries.rs
  crates/oxen-py/src/py_remote_repo.rs
  crates/server/src/controllers/dir.rs
Due: none

Fix conflicting names between the cli and the oxen-py crates (#399)
  crates/oxen-py/Cargo.toml
  crates/oxen-py/src/lib.rs
  oxen-python/pyproject.toml
  oxen-python/python/oxen/__init__.py
  oxen-python/python/oxen/auth.py
  oxen-python/python/oxen/config.py
  oxen-python/python/oxen/data_frame.py
  oxen-python/python/oxen/df_utils.py
  oxen-python/python/oxen/diff/diff.py
  oxen-python/python/oxen/diff/line_diff.py
  oxen-python/python/oxen/diff/tabular_diff.py
  oxen-python/python/oxen/diff/text_diff.py
  oxen-python/python/oxen/oxen_fs.py
  oxen-python/python/oxen/remote_repo.py
  oxen-python/python/oxen/user.py
  oxen-python/python/oxen/workspace.py
  oxen-python/tests/test_data_frame.py
Due: cargo-sort, ruff-check, ruff-format

fix path
  .claude/CLAUDE.md
Due: none

run the python tests in a subshell to avoid changing the working directory so that the cleanup code's relative paths still work if something errors out
  bin/test-rust
Due: none

log of compilation times
  log_compile_times
Due: none

Add a way to automatically test python (#403)
  .claude/CLAUDE.md
  bin/test-rust
Due: none

remove hard coded list to iterate over enum
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/opts/sort_opts.rs
Due: cargo-sort

change usize to isize to handle -1 value to list full tree depth
  crates/lib/src/api/client/dir.rs
  crates/lib/src/command/ls.rs
  crates/oxen-py/src/py_remote_repo.rs
Due: none

sort dir by date (#402)
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/api/client/dir.rs
  crates/lib/src/command/ls.rs
  crates/lib/src/core/v_latest/entries.rs
  crates/lib/src/opts.rs
  crates/lib/src/opts/sort_opts.rs
  crates/lib/src/repositories/entries.rs
  crates/oxen-py/src/py_remote_repo.rs
  crates/server/src/controllers/dir.rs
  crates/server/src/params/page_num_query.rs
Due: cargo-sort

tighten up OxenError::AwsSdkError so we can't accidentally wrap an error that didn't originate from the aws sdk
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/error.rs
Due: cargo-sort

upload error instead of basic error
  crates/lib/src/error.rs
  crates/lib/src/storage/s3.rs
Due: none

change `force_update` parameter to be more explicitly named `update_timestamp`
  crates/lib/src/api/client/import.rs
  crates/lib/src/api/client/versions.rs
  crates/lib/src/api/client/workspaces/commits.rs
  crates/lib/src/api/client/workspaces/files.rs
  crates/lib/src/core/v_latest/add.rs
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/lib/src/repositories/workspaces/files.rs
  crates/lib/src/view/versions.rs
  crates/server/src/controllers/import.rs
  crates/server/src/controllers/versions/chunks.rs
  crates/server/src/controllers/workspaces/files.rs
Due: none

add force_update param on upload (#397)
  crates/lib/src/api/client/import.rs
  crates/lib/src/api/client/versions.rs
  crates/lib/src/api/client/workspaces/commits.rs
  crates/lib/src/api/client/workspaces/files.rs
  crates/lib/src/core/v_latest/add.rs
  crates/lib/src/core/v_latest/push.rs
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/lib/src/repositories/commits/commit_writer.rs
  crates/lib/src/repositories/workspaces/files.rs
  crates/lib/src/view/versions.rs
  crates/server/src/controllers/import.rs
  crates/server/src/controllers/versions/chunks.rs
  crates/server/src/controllers/workspaces/files.rs
Due: none

Path conditions:
  cargo-fmt-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-fmt-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-clippy-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-clippy-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-sort: any of: Cargo\.toml$
  ruff-check: any of: ^oxen-python/.*\.py$
  ruff-format: any of: ^oxen-python/.*\.py$
