Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

exit if server fails to start
  oxen-rust/scripts/test-rust
Due: none

fix port for server
  oxen-rust/scripts/test-rust
Due: none

test script allows OXEN_PORT to be set externally, otherwise it picks a random port in [3000,6000]
  oxen-rust/scripts/test-rust
Due: none

print OXEN_TEST_HOST
  oxen-rust/scripts/test-rust
Due: none

Updated data generation scripts for testing oxen uploads
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
  scripts/reupload-single.py
Due: none

Added shellcheck pre-commit hook & install in pre-req script
  .pre-commit-config.yaml
  scripts/install-pre-reqs.sh
  tool-versions.env
Due: none

Fix issues spotted by shellcheck and give test-rust a .sh extension
  oxen-rust/README.md
  oxen-rust/install-ubuntu.sh
  oxen-rust/scripts/backup_and_migrate_all_repos.sh
  oxen-rust/scripts/backup_and_migrate_repo.sh
  oxen-rust/scripts/index_repos.sh
  oxen-rust/scripts/test-rust.sh
  scripts/bump-version.sh
  scripts/install-pre-reqs.sh
Due: none

update docs: set OXEN_PORT not OXEN_TEST_HOST
  oxen-rust/README.md
Due: none

fix the health check
  oxen-rust/scripts/test-rust
Due: none

added documentation for each script + workflow for testing large scale data upload
  scripts/README.md
Due: none

Apply suggestion from @CleanCut
  oxen-rust/scripts/test-rust
Due: none

Apply suggestion from @coderabbitai[bot]
  oxen-rust/scripts/test-rust
Due: none

Apply suggestion from @CleanCut
  oxen-rust/README.md
Due: none

oxen-server flag to show a backtrace on stack-overflow
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/server/Cargo.toml
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

add set -euo pipefail where we can
  oxen-rust/scripts/backup_and_migrate_all_repos.sh
  oxen-rust/scripts/backup_and_migrate_repo.sh
  oxen-rust/scripts/index_repos.sh
  scripts/bump-version.sh
Due: none

bugfix -- was using wrong path
  oxen-rust/scripts/backup_and_migrate_repo.sh
Due: none

fixed reveiw issue
  scripts/bump-version.sh
Due: none

tweak
  oxen-rust/scripts/backup_and_migrate_repo.sh
Due: none

oxen-rust test script can select random free port or be explicit (#318)
  oxen-rust/README.md
  oxen-rust/scripts/test-rust
Due: none

fix tests
  oxen-rust/src/server/src/middleware.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

cargo clippy is altering Cargo.lock
  oxen-python/Cargo.lock
Due: none

Move actix-web usage to server; fix solo build of liboxen (#316)
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/request_context.rs
  oxen-rust/src/server/src/middleware.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

enable stderr or file logging in server & cli
  oxen-rust/src/lib/src/util/telemetry.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

update PUT file to allow full destination path in URL
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add unique_count to the output from to_http_query_params
  oxen-rust/src/lib/src/opts/df_opts.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

handle normalizing the path for the PUT updates so that the user cannot specify arbitrary locations on the filesystem
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove unused trait definitions
  oxen-rust/src/lib/src/storage/version_store.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

cleanup code for PUT to path
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Switch to env-logger so that oxen-python respects RUST_LOG
  oxen-python/Cargo.lock
  oxen-python/Cargo.toml
  oxen-python/src/lib.rs
Due: cargo-fmt-oxen-python, cargo-clippy-oxen-python, cargo-sort

compute version paths through the VersionStore trait; cleanup some dead code
  oxen-rust/src/lib/src/core/v_latest/data_frames.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/data_frames.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/data_frames/rows.rs
  oxen-rust/src/lib/src/model/diff/tabular_diff_summary.rs
  oxen-rust/src/lib/src/repositories/checkout.rs
  oxen-rust/src/lib/src/repositories/diffs.rs
  oxen-rust/src/lib/src/repositories/workspaces/data_frames.rs
  oxen-rust/src/lib/src/storage/version_store.rs
  oxen-rust/src/lib/src/util/fs.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove more dead code
  oxen-rust/src/cli/src/cmd/pack.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

be explicit about a violated invariant
  oxen-rust/src/lib/src/model/diff/tabular_diff_summary.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix slow test file generation
  oxen-rust/src/lib/src/repositories/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Use VersionStore trait to compute paths (#327)
  oxen-rust/src/cli/src/cmd/pack.rs
  oxen-rust/src/lib/src/core/v_latest/data_frames.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/data_frames.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/data_frames/rows.rs
  oxen-rust/src/lib/src/model/diff/tabular_diff_summary.rs
  oxen-rust/src/lib/src/repositories/checkout.rs
  oxen-rust/src/lib/src/repositories/diffs.rs
  oxen-rust/src/lib/src/repositories/workspaces/data_frames.rs
  oxen-rust/src/lib/src/storage/version_store.rs
  oxen-rust/src/lib/src/util/fs.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix slow test file generation (#328)
  oxen-rust/src/lib/src/repositories/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

upgrade pyarrow to 23.0.1 (>=22.0.0)
  oxen-python/pyproject.toml
  oxen-python/uv.lock
Due: none

Fix API spec route for unstage_many
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

More delete/rm/unstage cleanup
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/repositories/workspaces/files.rs
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
  oxen-rust/src/server/src/main.rs
  oxen-rust/src/server/src/services/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust
