Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

Standardized keep-alive and retry logic for http clients (#325)
  oxen-rust/src/lib/src/api/client.rs
  oxen-rust/src/lib/src/api/client/commits.rs
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
  oxen-rust/src/lib/src/api/client/retry.rs
  oxen-rust/src/lib/src/api/client/tree.rs
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
  oxen-rust/src/lib/src/util.rs
  oxen-rust/src/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove unused install-ubuntu script
  oxen-rust/install-ubuntu.sh
Due: none

fix loop
  oxen-rust/scripts/index_repos.sh
Due: none

ignore target/ dir
  oxen-rust/.gitignore
Due: none

recompiled
  oxen-rust/experiments/lmdb-oxen/Cargo.lock
Due: none

addressed review comments
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
  scripts/reupload-single.py
Due: none

stahaaaap using `args.`
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
  scripts/reupload-single.py
Due: none

Updated data generation scripts for testing oxen uploads
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
  scripts/reupload-single.py
Due: none

refactor scripts to have distinct arg parsing & main logic sections
  scripts/batch-workspace-upload.py
  scripts/generate-dataset.py
  scripts/reorganize-dataset.py
Due: none

added documentation for each script + workflow for testing large scale data upload
  scripts/README.md
Due: none

review fixes
  scripts/generate-dataset.py
  scripts/reupload-single.py
Due: none

clippy fix
  oxen-rust/experiments/lmdb-oxen/src/framework.rs
  oxen-rust/experiments/lmdb-oxen/src/lmdb.rs
  oxen-rust/experiments/lmdb-oxen/src/main.rs
  oxen-rust/experiments/lmdb-oxen/src/migrate.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Adds shellcheck pre-commit hook and fixes lint errors (#319)
  .pre-commit-config.yaml
  oxen-rust/README.md
  oxen-rust/install-ubuntu.sh
  oxen-rust/scripts/backup_and_migrate_all_repos.sh
  oxen-rust/scripts/backup_and_migrate_repo.sh
  oxen-rust/scripts/index_repos.sh
  oxen-rust/scripts/test-rust.sh
  scripts/bump-version.sh
  scripts/install-pre-reqs.sh
  tool-versions.env
Due: none

Install cmake on macos (#333)
  scripts/install-pre-reqs.sh
Due: none

moved documentation to oxen-rust
  oxen-rust/config_for_tracing_metrics.md
Due: none

Test fixes (#334)
  oxen-rust/.config/nextest.toml
  oxen-rust/crates/lib/src/api/client/repositories.rs
  oxen-rust/crates/lib/src/api/client/workspaces/data_frames/embeddings.rs
  oxen-rust/crates/lib/src/test.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Remove unused dependencies (#332)
  oxen-python/Cargo.lock
  oxen-python/Cargo.toml
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/crates/lib/Cargo.toml
Due: cargo-sort

Fix bump-version.sh to increment oxen-python/Cargo.toml's version
  oxen-python/Cargo.lock
  oxen-python/Cargo.toml
  scripts/bump-version.sh
Due: cargo-sort

Fix bump-version.sh to increment oxen-python/Cargo.toml's version (#335)
  oxen-python/Cargo.lock
  oxen-python/Cargo.toml
  scripts/bump-version.sh
Due: cargo-sort

replace main
  oxen-rust/experiments/lmdb-oxen/src/old_main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/experiments/lmdb-oxen/Cargo.lock
  oxen-rust/experiments/lmdb-oxen/Cargo.toml
  oxen-rust/experiments/lmdb-oxen/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

wip
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/crates/lib/Cargo.toml
  oxen-rust/crates/lib/src/constants.rs
  oxen-rust/crates/lib/src/core/db/merkle_node.rs
  oxen-rust/crates/lib/src/core/db/merkle_node/merkle_node_db.rs
  oxen-rust/crates/lib/src/core/db/merkle_node/node_record.rs
  oxen-rust/crates/lib/src/core/db/merkle_node/tree_store.rs
  oxen-rust/crates/lib/src/core/v_latest/commits.rs
  oxen-rust/crates/lib/src/core/v_latest/index/commit_merkle_tree.rs
  oxen-rust/crates/lib/src/model/merkle_tree/merkle_hash.rs
  oxen-rust/crates/lib/src/model/merkle_tree/node/merkle_tree_node.rs
  oxen-rust/crates/lib/src/repositories/commits/commit_writer.rs
  oxen-rust/crates/lib/src/repositories/tree.rs
  oxen-rust/crates/lib/src/test.rs
  oxen-rust/crates/server/src/test.rs
  oxen-rust/experiments/lmdb-oxen/Cargo.lock
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

wip
  oxen-rust/experiments/lmdb-oxen/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

time everything in ms (not seconds -- too large!)
  oxen-rust/config_for_tracing_metrics.md
  oxen-rust/crates/cli/src/cmd/fsck.rs
  oxen-rust/crates/lib/src/api/client/export.rs
  oxen-rust/crates/lib/src/api/client/import.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/data_frames.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/core/v_latest/index/commit_merkle_tree.rs
  oxen-rust/crates/lib/src/repositories/add.rs
  oxen-rust/crates/lib/src/repositories/checkout.rs
  oxen-rust/crates/lib/src/repositories/clone.rs
  oxen-rust/crates/lib/src/repositories/commits.rs
  oxen-rust/crates/lib/src/repositories/merge.rs
  oxen-rust/crates/lib/src/repositories/metadata/audio.rs
  oxen-rust/crates/lib/src/repositories/metadata/video.rs
  oxen-rust/crates/lib/src/repositories/pull.rs
  oxen-rust/crates/lib/src/repositories/push.rs
  oxen-rust/crates/lib/src/repositories/tree.rs
  oxen-rust/crates/server/src/controllers/branches.rs
  oxen-rust/crates/server/src/controllers/commits.rs
  oxen-rust/crates/server/src/controllers/export.rs
  oxen-rust/crates/server/src/controllers/import.rs
  oxen-rust/crates/server/src/controllers/merger.rs
  oxen-rust/crates/server/src/controllers/prune.rs
  oxen-rust/crates/server/src/controllers/versions.rs
  oxen-rust/crates/server/src/controllers/versions/chunks.rs
  oxen-rust/crates/server/src/controllers/workspaces.rs
  oxen-rust/crates/server/src/controllers/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

encapsulate some external usage/manipulation of version paths behind VersionStore
  oxen-rust/crates/lib/src/core/v_latest/workspaces/data_frames.rs
  oxen-rust/crates/lib/src/storage/local.rs
  oxen-rust/crates/lib/src/storage/version_store.rs
  oxen-rust/crates/lib/src/util/fs.rs
  oxen-rust/crates/server/src/controllers/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Pin rust image to Debian 12 (bookworm)
  oxen-rust/Dockerfile
Due: none

Pin rust image to Debian 12 (bookworm) (#338)
  oxen-rust/Dockerfile
Due: none

Fix bump-version for src → crates move
  scripts/bump-version.sh
Due: none

Fix bump-version for src → crates move (#339)
  scripts/bump-version.sh
Due: none

get_version_path() encapsulation (#337)
  oxen-rust/crates/lib/src/core/v_latest/workspaces/data_frames.rs
  oxen-rust/crates/lib/src/storage/local.rs
  oxen-rust/crates/lib/src/storage/version_store.rs
  oxen-rust/crates/lib/src/util/fs.rs
  oxen-rust/crates/server/src/controllers/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add Python 3.14
  .github/workflows/build_and_publish_test_pypi.yml
Due: none

Revert "Standardized keep-alive and retry logic for http clients (#325)"
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/import.rs
  oxen-rust/crates/lib/src/api/client/retry.rs
  oxen-rust/crates/lib/src/api/client/tree.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/constants.rs
  oxen-rust/crates/lib/src/core/v_latest/push.rs
  oxen-rust/crates/lib/src/util.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Revert "Standardized keep-alive and retry logic for http clients (#325)" (#341)
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/import.rs
  oxen-rust/crates/lib/src/api/client/retry.rs
  oxen-rust/crates/lib/src/api/client/tree.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/constants.rs
  oxen-rust/crates/lib/src/core/v_latest/push.rs
  oxen-rust/crates/lib/src/util.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Reapply "Standardized keep-alive and retry logic for http clients (#325)" (#341)
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/import.rs
  oxen-rust/crates/lib/src/api/client/retry.rs
  oxen-rust/crates/lib/src/api/client/tree.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/constants.rs
  oxen-rust/crates/lib/src/core/v_latest/push.rs
  oxen-rust/crates/lib/src/util.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add python 3.14 in a couple more places
  .github/workflows/release.yml
  RELEASING.md
Due: none

Use new_for_url_transfer for correct host lookup
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove unnecessary generics; remove unnecessary macros of unnecessary trait implementations of unnecessary generics
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/util.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust
