Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

Derive a page's rows in one place
  crates/liboxen/src/opts/df_opts.rs
  crates/liboxen/src/view/json_data_frame_view.rs
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
Due: none

address feedback
  crates/liboxen/src/opts/df_opts.rs
  crates/oxen-py/src/py_remote_data_frame.rs
Due: none

Reject an item that does not name a column and a row
  crates/liboxen/src/opts/df_opts.rs
Due: none

Report the requested page when a data frame has no rows
  crates/liboxen/src/view/json_data_frame_view.rs
Due: none

Report a row index that cannot name a range
  crates/liboxen/src/core/df/tabular.rs
  crates/liboxen/src/opts/df_opts.rs
  crates/oxen-server/src/controllers/data_frames.rs
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
Due: none

Constrain inbound request ID format and length (#852)
  crates/oxen-server/src/middleware.rs
Due: none

Derive every page's rows through the shared helper
  crates/liboxen/src/opts/df_opts.rs
  crates/oxen-server/src/controllers/data_frames.rs
  crates/oxen-server/src/controllers/diff.rs
Due: none

Encode OTLP/HTTP span exports as binary protobuf
  Cargo.lock
  Cargo.toml
  crates/oxen-cli/README.md
  crates/oxen-server/README.md
Due: cargo-sort

Support gzip on OTLP export and the standard protocol variable
  Cargo.lock
  Cargo.toml
  crates/liboxen/src/util/telemetry.rs
  crates/oxen-cli/README.md
  crates/oxen-server/README.md
Due: cargo-sort

Apply the requested page when a workspace data frame read carries sql
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/v_latest/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/oxen-py/src/py_workspace_data_frame.rs
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
Due: none

Strip a terminator or comment before composing a page onto SQL
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
Due: none

Offload the page read and its count separately
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
Due: none

Don't build a Rust test harness for the bindings crate
  crates/oxen-py/Cargo.toml
Due: cargo-sort

Keep an unrepresentable page size from panicking the read
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
Due: none

Read a SQL query's whole result as one page
  crates/oxen-py/src/py_workspace_data_frame.rs
Due: none

Don't build a Rust test harness for the bindings crate (#860)
  crates/oxen-py/Cargo.toml
Due: cargo-sort

improve workspace api documentation and comments
  crates/liboxen/src/model/staged_dir_stats.rs
  crates/liboxen/src/model/summarized_staged_dir_stats.rs
  crates/liboxen/src/view/remote_staged_status.rs
  crates/oxen-py/src/py_workspace.rs
  crates/oxen-server/src/controllers/workspaces.rs
  crates/oxen-server/src/controllers/workspaces/changes.rs
  crates/oxen-server/src/errors.rs
  crates/oxen-server/src/main.rs
  oxen-python/python/oxen/workspace.py
Due: ruff-check, ruff-format

fix coderabbit review to require page_size > 0 for the changes api
  crates/oxen-server/src/controllers/workspaces/changes.rs
Due: none

Resolve the OTLP endpoint and transport through the standard variable tiers
  crates/liboxen/src/util/telemetry.rs
  crates/oxen-cli/README.md
  crates/oxen-server/README.md
Due: none

Respect pagination when querying a workspace dataframe with `sql` param (#859)
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/v_latest/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/oxen-py/src/py_workspace_data_frame.rs
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
Due: none

Post spans to a traces endpoint exactly as it is configured
  Cargo.toml
  crates/liboxen/src/util/telemetry.rs
  crates/oxen-cli/README.md
  crates/oxen-server/README.md
Due: cargo-sort

Correct the CLI's account of what gates span export
  crates/oxen-cli/README.md
Due: none

Name the endpoint rule the CLI guide only documented the exception to
  crates/oxen-cli/README.md
Due: none

Reject page_size=0 and clarify per-list pagination in workspace changes docs
  crates/oxen-server/src/controllers/workspaces/changes.rs
Due: none

improve workspace api documentation and comments (#861)
  crates/liboxen/src/model/staged_dir_stats.rs
  crates/liboxen/src/model/summarized_staged_dir_stats.rs
  crates/liboxen/src/view/remote_staged_status.rs
  crates/oxen-py/src/py_workspace.rs
  crates/oxen-server/src/controllers/workspaces.rs
  crates/oxen-server/src/controllers/workspaces/changes.rs
  crates/oxen-server/src/errors.rs
  crates/oxen-server/src/main.rs
  oxen-python/python/oxen/workspace.py
Due: ruff-check, ruff-format

Honor a slice or row the diff endpoints were given
  crates/oxen-server/src/controllers/diff.rs
Due: none

Serialize row writes on a workspace data frame
  crates/liboxen/src/core.rs
  crates/liboxen/src/core/data_frame_locks.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
  crates/liboxen/src/repositories/workspaces/data_frames/rows.rs
Due: none

Report a failed take instead of returning the whole data frame
  crates/liboxen/src/core/df/tabular.rs
Due: none

Classify a failed derived data frame transform where the rest of the server does
  crates/oxen-server/src/controllers/diff.rs
Due: none

Run the production-feature unit tests in CI
  .github/workflows/ci_build_production.yml
Due: none

Cover both OTLP transports in the telemetry smoke test
  bin/otel-metrics-test
Due: none

Make the telemetry smoke test runnable alongside a development server
  bin/otel-metrics-test
Due: none

Tighten the comments added for OTLP transport selection
  .github/workflows/ci_build_production.yml
  Cargo.toml
  bin/otel-metrics-test
  crates/liboxen/src/util/telemetry.rs
  crates/oxen-cli/README.md
  crates/oxen-server/README.md
Due: cargo-sort

Support protobuf over HTTP for OTLP export (#862)
  .github/workflows/ci_build_production.yml
  Cargo.lock
  Cargo.toml
  bin/otel-metrics-test
  crates/liboxen/src/util/telemetry.rs
  crates/oxen-cli/README.md
  crates/oxen-server/README.md
Due: cargo-sort

Compile every stage against the pinned toolchain
  Dockerfile
Due: none

Cache the dependency build in the registry with cargo-chef
  .github/workflows/build_branch.yml
  .github/workflows/prune_server_images.yml
  Dockerfile
  tool-versions.env
Due: none

Compile server with debuginfo so we can find causes of panics
  Dockerfile
Due: none

address feedback
  Dockerfile
Due: none

Document the visibility rule for new items in the agent instructions
  .claude/CLAUDE.md
Due: none

Replace instances of "oracle" with "reference implementation"
  crates/liboxen/src/repositories/tree.rs
  crates/liboxen/src/test.rs
Due: none
