Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

force install if version mismatch + exit 1 if xcode not installed
  scripts/install-pre-reqs.sh
Due: none

pre-commit hook: `ruff fmt|check` scripts/*.py
  .pre-commit-config.yaml
Due: none

apply fmt and check
  scripts/generate-dataset.py
Due: none

standaardized keep-alive and retry logic for http clients
  oxen-rust/src/lib/src/api/client.rs
  oxen-rust/src/lib/src/api/client/commits.rs
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
  oxen-rust/src/lib/src/api/client/retry.rs
  oxen-rust/src/lib/src/api/client/tree.rs
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

don't try to commit if it is a clean workspace
  scripts/batch-workspace-upload.py
Due: none

pre-commit hook: `ruff fmt|check` scripts/*.py (#313)
  .pre-commit-config.yaml
  scripts/generate-dataset.py
Due: none

Wait for the server health check to succeed
  oxen-rust/scripts/test-rust
Due: none

fix branches
  oxen-rust/src/lib/src/core/v_latest/branches.rs
  oxen-rust/src/lib/src/repositories/checkout.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Re-format all Cargo.tomls with updated cargo-sort version (#314)
  oxen-python/Cargo.toml
  oxen-rust/Cargo.toml
Due: cargo-sort

Revert "remove cargo sort from the pre-commit config since it passes locally but is fails in CI without any indication as to what the difference is"
  .pre-commit-config.yaml
Due: none

update comments
  oxen-rust/src/lib/src/core/v_latest/branches.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Some onboarding fixes (#307)
  README.md
  oxen-rust/README.md
  oxen-rust/scripts/test-rust
  oxen-rust/src/server/.env.local
  oxen-rust/src/server/.env.template
  scripts/bump-version.sh
Due: none

wip fixing bad code
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/fetch.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/model/entry/commit_entry.rs
  oxen-rust/src/lib/src/view/file_metadata.rs
  oxen-rust/src/server/src/controllers/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

switch to env-logger so that oxen-python respects RUST_LOG
  oxen-python/Cargo.lock
  oxen-python/Cargo.toml
  oxen-python/src/lib.rs
Due: cargo-fmt-oxen-python, cargo-clippy-oxen-python, cargo-sort

wip various fixes
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/model/entry/commit_entry.rs
  oxen-rust/src/lib/src/util/hasher.rs
  oxen-rust/src/server/src/controllers/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/lib/src/core/v_latest/fetch.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

update to Rust 1.94.0
  oxen-python/rust-toolchain.toml
  oxen-rust/Cargo.toml
  oxen-rust/Dockerfile
  oxen-rust/Dockerfile.dev
  oxen-rust/rust-toolchain.toml
  oxen-rust/scripts/test-rust
Due: cargo-sort

Update to Rust 1.94.0 (#315)
  oxen-python/rust-toolchain.toml
  oxen-rust/Cargo.toml
  oxen-rust/Dockerfile
  oxen-rust/Dockerfile.dev
  oxen-rust/rust-toolchain.toml
  oxen-rust/scripts/test-rust
Due: cargo-sort

install pre-reqs
  oxen-rust/scripts/test-rust
Due: none

Dev pre-req install script (#312)
  .github/workflows/ci_lint.yml
  .pre-commit-config.yaml
  README.md
  oxen-rust/scripts/test-rust
  scripts/install-pre-reqs.sh
  tool-versions.env
Due: none

move actix-specific stuff from lib into server so only server has to compile it
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/request_context.rs
  oxen-rust/src/server/src/middleware.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

wip
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/view/file_metadata.rs
  oxen-rust/src/server/src/controllers/versions.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/fetch.rs
  oxen-rust/src/lib/src/core/v_latest/rm.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/view/file_metadata.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

return files failed to upload
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/model/entry/commit_entry.rs
  oxen-rust/src/server/src/controllers/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

pass failed files through
  oxen-python/src/lib.rs
  oxen-python/src/py_types.rs
  oxen-python/src/py_workspace.rs
Due: cargo-fmt-oxen-python, cargo-clippy-oxen-python

log files that failed to upload
  oxen-python/python/oxen/workspace.py
  scripts/batch-workspace-upload.py
Due: ruff-check, ruff-format

fix tests and review comments
  oxen-rust/src/lib/src/repositories/checkout.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix clippy
  oxen-rust/src/lib/src/core/v_latest/commits.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

use priority queue for `oxen log` (#309)
  oxen-rust/src/lib/src/core/v_latest/commits.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix checkout bugs, that were introduced in #296 (#310)
  oxen-python/tests/test_workspace_add.py
  oxen-rust/src/lib/src/core/v_latest/branches.rs
  oxen-rust/src/lib/src/repositories/checkout.rs
  oxen-rust/src/lib/src/repositories/remote_mode/checkout.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, ruff-check, ruff-format

More delete/rm/unstage cleanup
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/repositories/workspaces/files.rs
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
  oxen-rust/src/server/src/main.rs
  oxen-rust/src/server/src/services/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Move rm dir test into correct module
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Clean up and clarify workspace delete endpoints
  oxen-rust/src/cli/src/cmd/workspace/rm.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/server/src/controllers/workspaces/data_frames.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
  oxen-rust/src/server/src/services/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Reproducible test for workspace:rm bug
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix delete directory bug
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/repositories/commits/commit_writer.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix API spec route for unstage_many
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust
