Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

S3 (29.5): Keep a repository's last size when a recalculation is interrupted
  crates/liboxen/src/core/repo_locks.rs
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/namespaces.rs
  crates/liboxen/src/repositories/size.rs
  crates/liboxen/src/repositories/workspaces/files.rs
  crates/oxen-server/src/controllers/action.rs
  crates/oxen-server/src/controllers/repositories.rs
Due: none

Retry a repository whose size walk failed on the next namespace read
  crates/liboxen/src/namespaces.rs
Due: none

Stop reporting a push as completed when its size recalculation never started
  crates/liboxen/src/core/repo_locks.rs
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/namespaces.rs
  crates/liboxen/src/repositories/size.rs
  crates/oxen-server/src/controllers/action.rs
  crates/oxen-server/src/controllers/repositories.rs
Due: none

Run the workspace handlers' blocking work off the actix worker
  crates/liboxen/src/core/v_latest/workspaces/commit.rs
  crates/liboxen/src/core/v_latest/workspaces/files.rs
  crates/liboxen/src/repositories/tree.rs
  crates/liboxen/src/repositories/workspaces.rs
  crates/liboxen/src/repositories/workspaces/files.rs
  crates/liboxen/src/test.rs
  crates/oxen-server/src/controllers/file.rs
  crates/oxen-server/src/controllers/workspaces.rs
  crates/oxen-server/src/controllers/workspaces/data_frames.rs
  crates/oxen-server/src/controllers/workspaces/files.rs
  crates/oxen-server/src/test.rs
Due: none

Report a repository as sized when a pass completes alongside one that fails
  crates/liboxen/src/repositories/size.rs
Due: none

Keep one database handle per path when a close races an open
  crates/liboxen/src/core/db/weak_cache.rs
Due: none

Fix the homebrew-core formula bump so oxen releases reach Homebrew again
  .github/workflows/publish.yml
Due: none

Run workspace file moves and removals off the actix worker
  crates/liboxen/src/core/v_latest/workspaces/files.rs
  crates/liboxen/src/repositories/tree.rs
  crates/liboxen/src/repositories/workspaces.rs
  crates/liboxen/src/repositories/workspaces/files.rs
  crates/liboxen/src/test.rs
  crates/oxen-server/src/controllers/file.rs
  crates/oxen-server/src/controllers/workspaces/files.rs
  crates/oxen-server/src/test.rs
Due: none

Removal Semantics (1.1): Say that `oxen rm` deletes the file from disk
  crates/oxen-cli/src/cmd/rm.rs
  crates/oxen-cli/src/cmd/workspace/rm.rs
  oxen-python/python/oxen/repo.py
Due: ruff-check, ruff-format

Removal Semantics (1.2): Report a staged removal as removed in the Python status
  crates/liboxen/src/model/staged_data.rs
  crates/liboxen/src/repositories/add.rs
  crates/liboxen/src/repositories/rm.rs
  crates/liboxen/src/view/remote_staged_status.rs
  crates/oxen-py/src/py_staged_data.rs
  oxen-python/tests/test_add.py
  oxen-python/tests/test_commit.py
Due: ruff-check, ruff-format

say that `oxen rm --staged` leaves the working-tree copy in place
  crates/oxen-cli/src/cmd/rm.rs
  crates/oxen-cli/src/cmd/workspace/rm.rs
  oxen-python/python/oxen/repo.py
Due: ruff-check, ruff-format

Removal Semantics (1.3): Let Python undo a removal without the CLI
  crates/oxen-py/src/py_repo.rs
  oxen-python/python/oxen/repo.py
  oxen-python/tests/test_commit.py
Due: ruff-check, ruff-format

Cover both the staged and unstaged status sets in the Python tests
  oxen-python/tests/test_commit.py
Due: ruff-check, ruff-format

Say that restore's source has no effect on a staged restore
  oxen-python/python/oxen/repo.py
Due: ruff-check, ruff-format

Streamline Tests (19): Build each pull test's scenario once
  AGENTS.md
  crates/liboxen/src/repositories/pull.rs
Due: none

Stop the S3 prefix-delete test failing CI at random.
  crates/liboxen/src/storage/s3.rs
Due: none

Stop each open database reserving 74 MiB of disk blocks
  crates/liboxen/src/core/db/key_val/opts.rs
  crates/liboxen/src/core/refs/ref_manager.rs
  crates/oxen-server/src/auth/access_keys.rs
Due: none

S3 (31.1.1): Add the index of the names repositories record
  crates/liboxen/src/lmdb/lmdb_env.rs
  crates/liboxen/src/lmdb/store.rs
  crates/liboxen/src/namespaces.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/name_table.rs
Due: none

Stop the transfer test from assuming POSIX rename semantics
  crates/liboxen/src/repositories.rs
Due: none

S3 (31.1.2): Maintain the name index from create, delete, and transfer
  AGENTS.md
  SelfHosting.md
  crates/liboxen/src/model/repository/repo_identity.rs
  crates/liboxen/src/repositories.rs
  crates/oxen-server/src/controllers/migrations.rs
  crates/oxen-server/src/controllers/repositories.rs
  crates/oxen-server/src/errors.rs
Due: none

Tag Sentry events with the request id to link them to logs and OxenHub
  Cargo.lock
  crates/oxen-server/src/main.rs
  crates/oxen-server/src/middleware.rs
  crates/oxen-server/src/tasks.rs
Due: none

Streamline Tests (20): Verify both large-file pushes from one clone
  AGENTS.md
  crates/liboxen/src/repositories/push.rs
Due: none

Crate Deps (4): Delete three dead workspace dependency entries
  Cargo.toml
Due: cargo-sort

Crate Deps (5): Update FFmpeg to 9.0 and video-rs to 0.12
  .github/workflows/ci_build_production.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  Dockerfile.dev
  bin/install-ffmpeg
  bin/install-prereqs
  bin/test-rust
  crates/liboxen/README.md
  tool-versions.env
Due: cargo-sort

Check the FFmpeg version even when /opt/ffmpeg exists
  bin/test-rust
Due: none

S3 (31.2.1): Walk every repository on the server one way
  AGENTS.md
  crates/liboxen/src/lib.rs
  crates/liboxen/src/namespaces.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/name_table.rs
  crates/liboxen/src/sync_dir.rs
  crates/oxen-server/src/main.rs
Due: none

S3 (31.2.2): Seed the name table from the configs repositories record
  SelfHosting.md
  crates/liboxen/src/repositories/name_table.rs
  crates/liboxen/src/repositories/name_table/seed.rs
  crates/oxen-server/src/main.rs
Due: none

Ship Linux release artifacts that run on RHEL 8
  .github/workflows/release.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_macos.yml
  RELEASING.md
  bin/README.md
  bin/build-rhel8-release
  docs/deprecations.md
  tool-versions.env
Due: none

Crate Deps (6): Refresh Cargo.lock, and update astral-tokio-tar to 0.7
  Cargo.lock
  Cargo.toml
  crates/liboxen/src/api/client/versions.rs
  crates/oxen-server/Cargo.toml
  crates/oxen-server/src/controllers/commits.rs
  crates/oxen-server/src/main.rs
Due: cargo-sort

S3 (31.3): List the steps a CLI or self-hosted installation takes on upgrading
  AGENTS.md
  README.md
  docs/README.md
  docs/deprecations.md
  docs/migrations.md
Due: none

Hold DuckDB connections in a WeakDuckCache so retention never closes one in use
  crates/liboxen/src/core/db/data_frames.rs
  crates/liboxen/src/core/db/data_frames/df_db.rs
  crates/liboxen/src/core/db/data_frames/weak_duck_cache.rs
  crates/liboxen/src/core/db/weak_cache.rs
  crates/liboxen/src/repositories/workspaces/data_frames.rs
Due: none

Fix the RHEL 8 wheel builds by making the pinned Rust toolchain rustup's default
  bin/build-rhel8-release
Due: none

Keep the access-key store out of the namespace listing
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/sync_dir.rs
Due: none

Backfill the v0.58.0 RHEL 8 artifacts
  .github/workflows/rhel8_backfill.yml
Due: none

Resolve the default Rust toolchain through rustup instead of parsing rust-toolchain.toml
  bin/build-rhel8-release
Due: none

Speed up requests by opening workspace name indexes in parallel and keeping them open
  crates/liboxen/src/core/workspaces/workspace_name_index.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Evict name index handles after a repository is moved or removed, even when that fails
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/workspaces.rs
Due: none

Move the commit count caches onto WeakDbCache
  crates/liboxen/src/core/v_latest/commits.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/test.rs
  crates/oxen-server/src/test.rs
Due: none

S3 (31.4.1): Add an endpoint that renames a repository under an auth provider
  crates/liboxen/src/api/requests.rs
  crates/liboxen/src/api/requests/rename_repo.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/name_table.rs
  crates/oxen-server/src/controllers/repositories.rs
  crates/oxen-server/src/main.rs
  crates/oxen-server/src/routes.rs
  crates/oxen-server/src/services.rs
  crates/oxen-server/src/services/rename.rs
Due: none

LMDB (3): Open the env lazily in the LmdbStore defaults, and put the merkle store on them
  crates/liboxen/src/core/db/merkle_node/lmdb_merkle_node_store.rs
  crates/liboxen/src/lmdb.rs
  crates/liboxen/src/lmdb/AGENTS.md
  crates/liboxen/src/lmdb/README.md
  crates/liboxen/src/lmdb/env_registry.rs
  crates/liboxen/src/lmdb/lmdb_db.rs
  crates/liboxen/src/lmdb/lmdb_env.rs
  crates/liboxen/src/lmdb/store.rs
  crates/liboxen/src/lmdb/txn.rs
  crates/liboxen/src/repositories.rs
  crates/liboxen/src/repositories/name_table.rs
  crates/liboxen/src/repositories/name_table/seed.rs
  crates/oxen-server/src/controllers/repositories.rs
Due: none
