Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

wip oxen lfs git integration
  oxen-rust/src/cli/src/cmd.rs
  oxen-rust/src/cli/src/cmd/lfs.rs
  oxen-rust/src/cli/src/cmd/lfs/clean.rs
  oxen-rust/src/cli/src/cmd/lfs/env.rs
  oxen-rust/src/cli/src/cmd/lfs/filter_process.rs
  oxen-rust/src/cli/src/cmd/lfs/init.rs
  oxen-rust/src/cli/src/cmd/lfs/install.rs
  oxen-rust/src/cli/src/cmd/lfs/pull.rs
  oxen-rust/src/cli/src/cmd/lfs/push.rs
  oxen-rust/src/cli/src/cmd/lfs/smudge.rs
  oxen-rust/src/cli/src/cmd/lfs/status.rs
  oxen-rust/src/cli/src/cmd/lfs/track.rs
  oxen-rust/src/cli/src/cmd/lfs/untrack.rs
  oxen-rust/src/cli/src/main.rs
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/lfs.rs
  oxen-rust/src/lib/src/lfs/config.rs
  oxen-rust/src/lib/src/lfs/filter.rs
  oxen-rust/src/lib/src/lfs/filter_process.rs
  oxen-rust/src/lib/src/lfs/gitattributes.rs
  oxen-rust/src/lib/src/lfs/hooks.rs
  oxen-rust/src/lib/src/lfs/install.rs
  oxen-rust/src/lib/src/lfs/pointer.rs
  oxen-rust/src/lib/src/lfs/status.rs
  oxen-rust/src/lib/src/lfs/sync.rs
  oxen-rust/src/lib/src/lib.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fixes
  oxen-rust/src/lib/src/lfs/filter_process.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix clone of oxen-lfs enxalbed repo + explicit sync command
  oxen-rust/src/cli/src/cmd/lfs.rs
  oxen-rust/src/cli/src/cmd/lfs/fetch_all.rs
  oxen-rust/src/cli/src/cmd/lfs/init.rs
  oxen-rust/src/cli/src/cmd/lfs/smudge.rs
  oxen-rust/src/lib/src/lfs/filter.rs
  oxen-rust/src/lib/src/lfs/filter_process.rs
  oxen-rust/src/lib/src/lfs/sync.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

make it work with remote repos
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/lfs/config.rs
  oxen-rust/src/lib/src/lfs/filter.rs
  oxen-rust/src/lib/src/lfs/filter_process.rs
  oxen-rust/src/lib/src/lfs/sync.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

use full path to `oxen` binary
  oxen-rust/src/cli/src/cmd/lfs/init.rs
  oxen-rust/src/cli/src/cmd/lfs/install.rs
  oxen-rust/src/lib/src/lfs/hooks.rs
  oxen-rust/src/lib/src/lfs/install.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove rustfmt::skip
  oxen-rust/src/lib/src/api/client/branches.rs
  oxen-rust/src/lib/src/api/client/dir.rs
  oxen-rust/src/lib/src/api/client/entries.rs
  oxen-rust/src/lib/src/api/client/workspaces/commits.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add oxen df --unique-count option to quickly get distributions
  oxen-rust/src/cli/src/cmd/df.rs
  oxen-rust/src/lib/src/core/df/tabular.rs
  oxen-rust/src/lib/src/opts/df_opts.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

cargo clippy & fmt
  oxen-rust/src/benches/oxen/workspace_add.rs
  oxen-rust/src/lib/src/api/client/workspaces/commits.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/df/tabular.rs
  oxen-rust/src/lib/src/repositories.rs
  oxen-rust/src/lib/src/repositories/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add timezones feature to polars (#303)
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
Due: cargo-sort

Update README and remove old docs (#302)
  README.md
  oxen-rust/docs/annotation/RemoteStaging.md
  oxen-rust/docs/dev/AddLibraryCode.md
  oxen-rust/docs/dev/IntegrateCLICode.md
  oxen-rust/docs/dev/IntegrateServer+CLI.md
  oxen-rust/docs/dev/IntegrateServerCode.md
  oxen-rust/docs/examples/0_ServerSetup.md
  oxen-rust/docs/examples/1_InitAndCommit.md
  oxen-rust/docs/examples/2_CollabAdd.md
  oxen-rust/docs/examples/3_Merge.md
  oxen-rust/docs/examples/4_ModifyLocal.md
  oxen-rust/docs/examples/5_RemoveThenRestoreLocal.md
  oxen-rust/docs/performance/push.md
  oxen-rust/docs/protocol/OxenProtocol.md
Due: none

add codeowners file
  .github/CODEOWNERS
Due: none

Sample file sizes from a distrubtion for test generation
  scripts/generate-dataset.py
Due: none

Also accept generating to a predefined size
  scripts/generate-dataset.py
Due: none

Script to restructure files into directory tree
  scripts/reorganize-dataset.py
Due: none

lognorm (0.5, 8) is default
  scripts/reorganize-dataset.py
Due: none

generate file sizes in tiers
  scripts/generate-dataset.py
Due: none

script to re-create the batch upload
  scripts/batch-workspace-upload.py
Due: none

added some docuemntation
  scripts/README.md
Due: none

upgrade to Rust 1.93.1 and the 2024 edition
  oxen-python/Cargo.toml
  oxen-python/rust-toolchain.toml
  oxen-python/src/py_remote_repo.rs
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/experiments/block-level-dedup/Cargo.toml
  oxen-rust/rust-toolchain.toml
  oxen-rust/src/benches/oxen/download.rs
  oxen-rust/src/benches/oxen/fetch.rs
  oxen-rust/src/benches/oxen/push.rs
  oxen-rust/src/benches/oxen/workspace_add.rs
  oxen-rust/src/cli/Cargo.toml
  oxen-rust/src/cli/src/cmd/commit.rs
  oxen-rust/src/cli/src/cmd/migrate.rs
  oxen-rust/src/cli/src/helpers.rs
  oxen-rust/src/lib/Cargo.toml
  oxen-rust/src/lib/src/api/client/workspaces/data_frames.rs
  oxen-rust/src/lib/src/core/df/pretty_print.rs
  oxen-rust/src/lib/src/core/v_latest/rm.rs
  oxen-rust/src/lib/src/model/merkle_tree/node/dir_node.rs
  oxen-rust/src/lib/src/opts/df_opts.rs
  oxen-rust/src/lib/src/repositories/diffs.rs
  oxen-rust/src/lib/src/repositories/push.rs
  oxen-rust/src/lib/src/repositories/tree.rs
  oxen-rust/src/lib/src/util/fs.rs
  oxen-rust/src/server/Cargo.toml
  oxen-rust/src/server/src/controllers/commits.rs
  oxen-rust/src/server/src/controllers/repositories.rs
  oxen-rust/src/server/src/controllers/schemas.rs
  oxen-rust/src/server/src/controllers/versions.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort

connect to local
  scripts/batch-workspace-upload.py
Due: none

create repo if it doesn't exist
  scripts/batch-workspace-upload.py
Due: none

fix?
  scripts/batch-workspace-upload.py
Due: none

reorganize generates a plan that can be reused when generating more data files
  scripts/reorganize-dataset.py
Due: none

add --dry-run for generate
  scripts/generate-dataset.py
Due: none

use dd for speed with binary file generation if dd exists
  scripts/generate-dataset.py
Due: none

iff it's a large file
  scripts/generate-dataset.py
Due: none

fixes
  .github/workflows/build_branch.yml
  .github/workflows/release.yml
  .github/workflows/release_docker.yml
  .pre-commit-config.yaml
  oxen-rust/Dockerfile
  scripts/bump-version.sh
Due: none

Removes command::{fetch,ls} as they're unused
  oxen-rust/src/lib/src/command/fetch.rs
  oxen-rust/src/lib/src/command/ls.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix sharp edges encountered during attempted onboarding; introduce a script to run Rust tests locally.
  oxen-rust/README.md
  oxen-rust/scripts/test-rust
  oxen-rust/src/server/.env.local
  oxen-rust/src/server/.env.template
Due: none

lint
  oxen-rust/README.md
Due: none

we use a rust-toolchain.toml file so people don't have to do this manually
  oxen-rust/README.md
Due: none

excellent linting by ai
  oxen-rust/README.md
  oxen-rust/scripts/test-rust
Due: none

wording update
  oxen-rust/README.md
Due: none

disable dd
  scripts/generate-dataset.py
Due: none
