Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check

cargo-fmt-oxen-rust:
  name: cargo fmt (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-fmt-oxen-python:
  name: cargo fmt (oxen-python)
  entry: bash -c 'cd oxen-python && cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy-oxen-rust:
  name: cargo clippy (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-clippy-oxen-python:
  name: cargo clippy (oxen-python)
  entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: bash -c 'for f in "$@"; do cargo sort --check "$(dirname "$f")" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check (oxen-python)
  entry: bash -c 'uvx ruff check oxen-python/'
  language: system
  pass_filenames: false

Apply suggestions from code review
  README.md
  oxen-python/README.md
  oxen-rust/docs/annotation/RemoteStaging.md
  oxen-rust/docs/examples/1_InitAndCommit.md
Due: none

fix build section in oxen-python
  .pre-commit-config.yaml
  README.md
  oxen-python/README.md
  oxen-python/tests/test_data_frame.py
  oxen-python/tests/test_remote_repo.py
  oxen-python/tests/test_workspace_add.py
  oxen-rust/README.md
Due: ruff-check

update
  oxen-python/README.md
Due: none

fixed python dev commands
  oxen-python/README.md
Due: none

Fix pre-commit hooks + New ruff hooks (#298)
  .pre-commit-config.yaml
  README.md
  ReleaseNotes.md
  examples/rag/03_search_and_retrieval.py
  oxen-python/README.md
  oxen-python/python/oxen/remote_repo.py
  oxen-python/tests/data/ChatBot/prompt.txt
  oxen-python/tests/test_data_frame.py
  oxen-python/tests/test_remote_repo.py
  oxen-python/tests/test_workspace_add.py
  oxen-rust/.pre-commit-config.yaml
  oxen-rust/README.md
  oxen-rust/TODO.md
  oxen-rust/benchmark/concurrent_batch_update_rows.py
  oxen-rust/cli-test/conftest.py
  oxen-rust/data/test/csvs/spam_ham_data_w_quote.tsv
  oxen-rust/docker-compose.yml
  oxen-rust/docs/annotation/RemoteStaging.md
  oxen-rust/docs/dev/IntegrateCLICode.md
  oxen-rust/docs/examples/1_InitAndCommit.md
  oxen-rust/docs/examples/3_Merge.md
  oxen-rust/experiments/block-level-dedup/Cargo.toml
  oxen-rust/experiments/block-level-dedup/generate_data.py
  oxen-rust/experiments/block-level-dedup/makefile
  oxen-rust/experiments/block-level-dedup/src/chunker/fixedsize_multithreaded.rs
  oxen-rust/experiments/lmdb-oxen/Cargo.toml
  oxen-rust/experiments/lmdb-oxen/src/migrate.rs
  oxen-rust/scripts/backup_and_migrate_all_repos.sh
  oxen-rust/scripts/backup_and_migrate_repo.sh
  oxen-rust/scripts/index_repos.sh
  oxen-rust/src/lib/src/storage/version_store.rs
  oxen-rust/src/lib/src/view/namespace.rs
  oxen-rust/traefik.yml
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort, ruff-check

Fix pre-commit hooks + New ruff check hook
  oxen-rust/docs/annotation/RemoteStaging.md
Due: none

CI lint job uses pre-commit hooks
  .github/workflows/ci_lint.yml
  oxen-rust/docs/annotation/RemoteStaging.md
Due: none

fix vec<oxenerror> no source
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/repositories/workspaces.rs
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

removes self-healing, self-heals on server startup
  oxen-rust/src/lib/src/repositories/workspaces.rs
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/lib/src/core.rs
  oxen-rust/src/lib/src/core/workspaces.rs
  oxen-rust/src/lib/src/core/workspaces/workspace_name_manager.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

claude'd it, reviewing
  oxen-rust/src/cli/src/helpers.rs
  oxen-rust/src/lib/src/command/migrate.rs
  oxen-rust/src/lib/src/command/migrate/m20260220_populate_workspace_name_index.rs
  oxen-rust/src/lib/src/repositories/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove as "migration" (heavy weight, fails)
  oxen-rust/src/lib/src/command/migrate.rs
  oxen-rust/src/lib/src/command/migrate/m20260220_populate_workspace_name_index.rs
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

added non editable commit rocksdb instance in same pattern
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core/workspaces.rs
  oxen-rust/src/lib/src/core/workspaces/workspace_commit_manager.rs
  oxen-rust/src/lib/src/repositories/workspaces.rs
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

rename param
  oxen-rust/src/lib/src/repositories/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

it fails if it can't self-heal all
  oxen-rust/src/lib/src/repositories/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Apply suggestions from code review
  oxen-rust/src/lib/src/core/workspaces/workspace_name_manager.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

optimize + new compound oxen error
  oxen-rust/src/lib/src/error.rs
  oxen-rust/src/lib/src/repositories/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

improve migration
  oxen-rust/src/cli/src/helpers.rs
  oxen-rust/src/lib/src/repositories/workspaces.rs
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Implements O(1) workspace name lookup
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core.rs
  oxen-rust/src/lib/src/core/workspaces.rs
  oxen-rust/src/lib/src/core/workspaces/workspace_name_manager.rs
  oxen-rust/src/lib/src/repositories/workspaces.rs
  oxen-rust/src/server/src/controllers/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

refactor to use a single generic `populate` fn
  oxen-rust/src/lib/src/repositories/workspaces.rs
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix `pull --all` (#295)
  oxen-rust/src/lib/src/core/v_latest/fetch.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Have CI lint job run pre-commit hooks (#299)
  .github/workflows/ci_lint.yml
  oxen-rust/docs/annotation/RemoteStaging.md
Due: none

Respect local file removal during checkout (#296)
  oxen-rust/src/lib/src/core/v_latest/branches.rs
  oxen-rust/src/lib/src/repositories/checkout.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Update README and remove old docs
  README.md
  oxen-rust/docs/annotation/RemoteStaging.md
  oxen-rust/docs/dev/AddLibraryCode.md
  oxen-rust/docs/dev/IntegrateCLICode.md
  oxen-rust/docs/dev/IntegrateServer+CLI.md
  oxen-rust/docs/dev/IntegrateServerCode.md
  oxen-rust/docs/examples/0_ServerSetup.md
  oxen-rust/docs/examples/1_InitAndCommit.md
  oxen-rust/docs/examples/2_CollabAdd.md
  oxen-rust/docs/examples/3_Merge.md
  oxen-rust/docs/examples/4_ModifyLocal.md
  oxen-rust/docs/examples/5_RemoveThenRestoreLocal.md
  oxen-rust/docs/performance/push.md
  oxen-rust/docs/protocol/OxenProtocol.md
Due: none

add timezones feature to polars
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
Due: cargo-sort

Re-enable Coderabbit AI summary in PR description
  .coderabbit.yaml
Due: none

wip
  oxen-rust/src/cli/src/cmd/workspace.rs
  oxen-rust/src/cli/src/cmd/workspace/ls.rs
  oxen-rust/src/lib/src/api/client/workspaces.rs
  oxen-rust/src/lib/src/api/client/workspaces/ls.rs
  oxen-rust/src/lib/src/core/v_latest/entries.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/repositories/workspaces/files.rs
  oxen-rust/src/server/src/controllers/workspaces.rs
  oxen-rust/src/server/src/controllers/workspaces/ls.rs
  oxen-rust/src/server/src/services/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/lib/src/core/v_latest/entries.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Better batch sizing (temporary)
  oxdrop/src-tauri/src/commands/upload.rs
Due: none

Refactor oxen-server: clap derives, ServerError, re-structure cmd exe
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/server/Cargo.toml
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

Refactor oxen-server: clap derives, ServerError, re-structure cmd exe (#301)
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/server/Cargo.toml
  oxen-rust/src/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

update lockfiles
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
Due: none

fix tokio error
  oxen-rust/src/lib/src/lfs/filter_process.rs
  oxen-rust/src/lib/src/lfs/hooks.rs
  oxen-rust/src/lib/src/lfs/install.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

oxen lfs fetch-all keeps git status clean
  oxen-rust/src/lib/src/lfs/sync.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

DELETEME: toods
  TODO
Due: none

Path conditions:
  cargo-fmt-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-fmt-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-clippy-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-clippy-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-sort: any of: Cargo\.toml$
  ruff-check: any of: ^oxen-python/.*\.py$
