Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

cargo-fmt-oxen-rust:
  name: cargo fmt (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo fmt'
  language: system
  pass_filenames: false

cargo-fmt-oxen-python:
  name: cargo fmt (oxen-python)
  entry: bash -c 'cd oxen-python && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy-oxen-rust:
  name: cargo clippy (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-clippy-oxen-python:
  name: cargo clippy (oxen-python)
  entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check (oxen-python)
  entry: bash -c 'uvx ruff check oxen-python/'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format (oxen-python)
  entry: bash -c 'uvx ruff format oxen-python/'
  language: system
  pass_filenames: false

Remove unused files
  oxen-python/test.py
  remote_repo.py
Due: ruff-check, ruff-format

refactor S3 store_version_from_reader to stream directly to s3 without multipart upload shenanigans
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/api/client/versions.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/server/src/controllers/commits.rs
  crates/server/src/controllers/versions.rs
Due: cargo-sort

Revert "refactor S3 store_version_from_reader to stream directly to s3 without multipart upload shenanigans" because it fails at runtime without a size
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/api/client/versions.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/server/src/controllers/commits.rs
  crates/server/src/controllers/versions.rs
Due: cargo-sort

use multipart upload, but using the owned reader that was a nice change in the direct streaming attempt
  crates/lib/src/api/client/versions.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/server/src/controllers/commits.rs
  crates/server/src/controllers/versions.rs
Due: none

Add new script for benchmarking compilation times
  bin/bench-compile
Due: none

initial new TMerkleTreeNode trait
  crates/lib/src/model/merkle_tree/node_type.rs
Due: none

implemented trait final + blanket impl
  crates/lib/src/core/db/merkle_node/merkle_node_db.rs
  crates/lib/src/error.rs
  crates/lib/src/model/merkle_tree/node/commit_node.rs
  crates/lib/src/model/merkle_tree/node/dir_node.rs
  crates/lib/src/model/merkle_tree/node/file_chunk_node.rs
  crates/lib/src/model/merkle_tree/node/file_node.rs
  crates/lib/src/model/merkle_tree/node/vnode.rs
  crates/lib/src/model/merkle_tree/node_type.rs
Due: none

require specifying the file size; upload files up to 100MB in one shot; use file size to determine part size for multipart uploads for files > 100MB
  crates/lib/src/api/client/versions.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/server/src/controllers/commits.rs
  crates/server/src/controllers/versions.rs
Due: none

fixing
  crates/lib/src/core/db/merkle_node/merkle_node_db.rs
  crates/lib/src/error.rs
  crates/lib/src/model/merkle_tree/node/commit_node.rs
  crates/lib/src/model/merkle_tree/node/dir_node.rs
  crates/lib/src/model/merkle_tree/node/file_chunk_node.rs
  crates/lib/src/model/merkle_tree/node/file_node.rs
  crates/lib/src/model/merkle_tree/node/merkle_tree_node.rs
  crates/lib/src/model/merkle_tree/node/vnode.rs
  crates/lib/src/model/merkle_tree/node_type.rs
  crates/lib/src/repositories/tree.rs
Due: none

fix by constraining SerializationError to match the types on all of the impls
  crates/lib/src/repositories/tree.rs
Due: none

clippy fix
  crates/lib/src/core/db/merkle_node/merkle_node_db.rs
  crates/lib/src/model/merkle_tree/node/commit_node.rs
  crates/lib/src/model/merkle_tree/node/dir_node.rs
  crates/lib/src/model/merkle_tree/node/file_chunk_node.rs
  crates/lib/src/model/merkle_tree/node/file_node.rs
  crates/lib/src/model/merkle_tree/node/vnode.rs
Due: none

wip
  crates/lib/src/repositories/tree.rs
Due: none

fixed! express serialization error type equality constraint
  crates/lib/src/repositories/tree.rs
Due: none

use `get_by_name()` to return `Result<Branch, OxenError>` instead of `Result<Option<Branch>, OxenError>`
  crates/lib/src/api/client/repositories.rs
  crates/lib/src/core/v_latest/branches.rs
  crates/lib/src/core/v_latest/commits.rs
  crates/lib/src/core/v_latest/merge.rs
  crates/lib/src/core/v_latest/push.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/repositories/branches.rs
  crates/lib/src/repositories/checkout.rs
  crates/lib/src/repositories/entries.rs
  crates/lib/src/repositories/load.rs
  crates/lib/src/repositories/merge.rs
  crates/lib/src/repositories/revisions.rs
  crates/oxen-py/src/py_repo.rs
  crates/server/src/controllers/branches.rs
  crates/server/src/controllers/workspaces.rs
  crates/server/src/controllers/workspaces/data_frames.rs
  crates/server/src/params.rs
Due: none

remove `get_by_name_maybe`
  crates/lib/src/core/v_latest/commits.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/repositories/branches.rs
  crates/lib/src/repositories/checkout.rs
  crates/lib/src/repositories/entries.rs
  crates/lib/src/repositories/revisions.rs
  crates/server/src/controllers/branches.rs
  crates/server/src/controllers/workspaces.rs
  crates/server/src/controllers/workspaces/data_frames.rs
  crates/server/src/params.rs
Due: none

Apply suggestions from code review
  crates/lib/src/error.rs
  crates/lib/src/storage/s3.rs
Due: none

address review comment
  crates/lib/src/error.rs
  crates/lib/src/storage/s3.rs
Due: none

move all dependencies to the workspace
  Cargo.toml
  crates/lib/Cargo.toml
Due: cargo-sort

write tests for S3VersionStore::store_version_from_reader, which requires updating some dependencies
  .claude/CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/core/db/data_frames/df_db.rs
  crates/lib/src/core/v_latest/workspaces/data_frames.rs
  crates/lib/src/storage/s3.rs
Due: cargo-sort

Cargo.lock just wants to update
  Cargo.lock
Due: none

remove VersionStore::store_version_from_path and its implementations in favor of using VersionStore::store_version_from_reader
  .claude/CLAUDE.md
  TODO.md
  crates/lib/src/api/client/entries.rs
  crates/lib/src/core/v_latest/add.rs
  crates/lib/src/core/v_latest/branches.rs
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/lib/src/repositories/remote_mode/checkout.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
Due: none

Implement S3VersionStore::store_version_from_reader (#398)
  .claude/CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/api/client/versions.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/error.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/server/src/controllers/commits.rs
  crates/server/src/controllers/versions.rs
Due: cargo-sort

Add back user_config.toml that's necessary for tests
  data/test/config/user_config.toml
Due: none

address review feedback
  crates/lib/src/model/merkle_tree/node_type.rs
Due: none

Add back user_config.toml that's necessary for tests (#408)
  data/test/config/user_config.toml
Due: none

Drop SerializationError associated type: hard code to serde serialization error
  crates/lib/src/core/db/merkle_node/merkle_node_db.rs
  crates/lib/src/model/merkle_tree/node_type.rs
  crates/lib/src/repositories/tree.rs
Due: none

Use from_u8() everywhere and propigate the error up on failiure
  crates/lib/src/core/db/merkle_node/merkle_node_db.rs
  crates/lib/src/model/merkle_tree/node_type.rs
  crates/lib/src/repositories/tree.rs
Due: none

update doc comment
  crates/lib/src/repositories/tree.rs
Due: none

Tests for S3VersionStore::store_version_from_reader (#404)
  .claude/CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/src/core/db/data_frames/df_db.rs
  crates/lib/src/core/v_latest/workspaces/data_frames.rs
  crates/lib/src/storage/s3.rs
Due: cargo-sort

add docstrings and simplify
  crates/lib/src/repositories/branches.rs
  crates/lib/src/repositories/checkout.rs
Due: none

`get_by_name()` to return `Result<Branch, OxenError>` instead of `Result<Option<Branch>, OxenError>` (#407)
  crates/lib/src/api/client/repositories.rs
  crates/lib/src/core/v_latest/branches.rs
  crates/lib/src/core/v_latest/commits.rs
  crates/lib/src/core/v_latest/merge.rs
  crates/lib/src/core/v_latest/push.rs
  crates/lib/src/core/v_latest/workspaces/commit.rs
  crates/lib/src/repositories/branches.rs
  crates/lib/src/repositories/checkout.rs
  crates/lib/src/repositories/entries.rs
  crates/lib/src/repositories/load.rs
  crates/lib/src/repositories/merge.rs
  crates/lib/src/repositories/revisions.rs
  crates/oxen-py/src/py_repo.rs
  crates/server/src/controllers/branches.rs
  crates/server/src/controllers/workspaces.rs
  crates/server/src/controllers/workspaces/data_frames.rs
  crates/server/src/params.rs
Due: none

Unify crate's `liboxen` features
  crates/oxen-py/Cargo.toml
Due: cargo-sort

Unify crate's `liboxen` features (#409)
  crates/oxen-py/Cargo.toml
Due: cargo-sort

convert the S3 version of copy_version_to_path to use streaming instead of loading the whole file in memory
  crates/lib/src/storage/s3.rs
Due: none

try bumping the size of the ramdisk and virtual hard drive
  .github/workflows/ci_test.yml
Due: none

narrow the windows oxen-server ramdisk usage to data/test/runs
  .github/workflows/ci_test.yml
Due: none

try using only the vhd/ramdisk for test data to see if it will fit
  .github/workflows/ci_test.yml
Due: none

have oxen-py use the glob from the workspace
  crates/oxen-py/Cargo.toml
Due: cargo-sort

use the same build options in python tests so we don't rebuild
  .github/workflows/ci_test.yml
Due: none

Path conditions:
  cargo-fmt-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-fmt-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-clippy-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-clippy-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-sort: any of: Cargo\.toml$
  ruff-check: any of: ^oxen-python/.*\.py$
  ruff-format: any of: ^oxen-python/.*\.py$
