Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

cargo-fmt-oxen-rust:
  name: cargo fmt (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo fmt'
  language: system
  pass_filenames: false

cargo-fmt-oxen-python:
  name: cargo fmt (oxen-python)
  entry: bash -c 'cd oxen-python && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy-oxen-rust:
  name: cargo clippy (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-clippy-oxen-python:
  name: cargo clippy (oxen-python)
  entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check (oxen-python)
  entry: bash -c 'uvx ruff check oxen-python/'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format (oxen-python)
  entry: bash -c 'uvx ruff format oxen-python/'
  language: system
  pass_filenames: false

relocate the benchmarks to follow Rust best practices
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/crates/benches/Cargo.toml
  oxen-rust/crates/benches/src/lib.rs
  oxen-rust/crates/benches/src/oxen.rs
  oxen-rust/crates/lib/Cargo.toml
  oxen-rust/crates/lib/benches/add.rs
  oxen-rust/crates/lib/benches/download.rs
  oxen-rust/crates/lib/benches/fetch.rs
  oxen-rust/crates/lib/benches/push.rs
  oxen-rust/crates/lib/benches/workspace_add.rs
  oxen-rust/crates/lib/oldbenchmain.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

Api 156/fix fetch failure (#354)
  oxen-rust/crates/lib/src/core/v_latest/fetch.rs
  oxen-rust/crates/lib/src/repositories/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix: error propagation on server error
  oxen-rust/crates/lib/src/api/client/entries.rs
  oxen-rust/crates/server/src/controllers/entries.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Relocate the benchmarks to follow Rust best practices (#356)
  oxen-rust/Cargo.lock
  oxen-rust/crates/benches/Cargo.toml
  oxen-rust/crates/benches/src/lib.rs
  oxen-rust/crates/benches/src/oxen.rs
  oxen-rust/crates/lib/Cargo.toml
  oxen-rust/crates/lib/benches/add.rs
  oxen-rust/crates/lib/benches/download.rs
  oxen-rust/crates/lib/benches/fetch.rs
  oxen-rust/crates/lib/benches/push.rs
  oxen-rust/crates/lib/benches/workspace_add.rs
  oxen-rust/crates/lib/oldbenchmain.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

ignore cleanup error
  oxen-rust/crates/lib/src/api/client/entries.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

better error handling
  oxen-rust/crates/lib/src/api/client/entries.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/server/src/controllers/entries.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

better error for gzip flow
  oxen-rust/crates/server/src/controllers/entries.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix clippy
  oxen-rust/crates/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

separate emitting events for workspace vs non-workspace {pre,post}-push events
  oxen-rust/crates/lib/src/api/client/repositories.rs
  oxen-rust/crates/lib/src/api/client/workspaces/commits.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

resolve Windows build error by stopping using a pdb on windows and trying to move temp files on windows to D:
  .github/workflows/ci_test.yml
  Cargo.toml
  crates/oxen-py/Cargo.toml
Due: cargo-sort

try enabling sccache
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
Due: none

don't use sccache while installing prerequisites
  .github/workflows/ci_lint.yml
Due: none

don't cache targets with Swatinem/cache-rust, we're doing that with sccache now; update to sccache-action@v0.0.9
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
Due: none

also cache things installed with 'cargo install'
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
Due: none

see if we can get sccache to work on windows as well
  .github/workflows/ci_test.yml
Due: none

try disabling shared PDB on windows to see if that helps speed things up with windows and sccache
  .github/workflows/ci_test.yml
Due: none

try caching on all branches, now that we're caching individual build artifacts and cargo registries, instead of one huge bundle
  .github/workflows/ci_lint.yml
  .github/workflows/ci_test.yml
Due: none

let's figure out why sccache isn't working for installing pre-reqs in CI
  .github/workflows/ci_lint.yml
Due: none

fix error propagation
  .gitignore
  crates/lib/src/core/v_latest/fetch.rs
  crates/server/src/controllers/entries.rs
Due: none

fix creates error
  crates/lib/src/api/client/entries.rs
  crates/lib/src/error.rs
  crates/server/src/controllers/entries.rs
Due: none

don't ignore oxen-python
  .gitignore
Due: none

Fix: error propagation on server error (#358)
  .gitignore
  crates/lib/src/api/client/entries.rs
  crates/lib/src/api/client/versions.rs
  crates/lib/src/core/v_latest/fetch.rs
  crates/lib/src/error.rs
  crates/server/src/controllers/entries.rs
Due: none

request id in actix logs (#355)
  crates/server/src/main.rs
Due: none

update VersionStore::get_version_path (and its usage) so that it won't break when we begin using that method on the S3 implementation
  Cargo.lock
  Cargo.toml
  crates/cli/src/cmd/embeddings/index.rs
  crates/lib/Cargo.toml
  crates/lib/src/core/df/sql.rs
  crates/lib/src/core/df/tabular.rs
  crates/lib/src/core/v_latest/data_frames.rs
  crates/lib/src/core/v_latest/push.rs
  crates/lib/src/core/v_latest/revisions.rs
  crates/lib/src/core/v_latest/workspaces/data_frames.rs
  crates/lib/src/core/v_latest/workspaces/data_frames/rows.rs
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/lib/src/model/diff/tabular_diff_summary.rs
  crates/lib/src/repositories/checkout.rs
  crates/lib/src/repositories/diffs.rs
  crates/lib/src/repositories/entries.rs
  crates/lib/src/repositories/fsck.rs
  crates/lib/src/repositories/revisions.rs
  crates/lib/src/repositories/workspaces/data_frames.rs
  crates/lib/src/storage.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/lib/src/util/fs.rs
  crates/server/src/controllers/data_frames.rs
  crates/server/src/controllers/import.rs
  crates/server/src/controllers/workspaces/changes.rs
  crates/server/src/controllers/workspaces/data_frames.rs
  crates/server/src/controllers/workspaces/files.rs
  data/test/config/user_config.toml
Due: cargo-sort

remove data/test/config/user_config.toml from version control, it is supposed to be ignored by git
  data/test/config/user_config.toml
Due: none

Separate workspace push events (#360)
  crates/lib/src/api/client/repositories.rs
  crates/lib/src/api/client/workspaces/commits.rs
Due: none

simplify bash script naming and checking
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_macos.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci_lint.yml
  .pre-commit-config.yaml
  README.md
  RELEASING.md
  crates/lib/README.md
  data/test/config/user_config.toml
  script/backup_and_migrate_all_repos
  script/backup_and_migrate_repo
  script/bump-version
  script/convert_from_git.py
  script/generate-dataset.py
  script/index_repos
  script/install-pre-reqs
  script/patch_dev_version
  script/publish_test_pypi
  script/test-rust
  script/uniq_names.txt
  tool-versions.env
Due: none

Import endpoint accepts arbitrary URLs
  oxen-rust/crates/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/crates/lib/src/repositories/workspaces/files.rs
  oxen-rust/crates/server/src/controllers/import.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Improve SSRF protection
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/server/src/controllers/import.rs
Due: none

Add comments explaining the import path and SSRF concerns
  crates/lib/src/core/v_latest/workspaces/files.rs
Due: none

rename from script/ to bin/
  .dockerignore
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_macos.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci_lint.yml
  .pre-commit-config.yaml
  README.md
  RELEASING.md
  bin/backup_and_migrate_all_repos
  bin/backup_and_migrate_repo
  bin/bump-version
  bin/convert_from_git.py
  bin/generate-dataset.py
  bin/index_repos
  bin/install-prereqs
  bin/patch_dev_version
  bin/publish_test_pypi
  bin/test-rust
  bin/uniq_names.txt
  crates/lib/README.md
  tool-versions.env
Due: none

Update VersionStore::get_version_path to prep for S3 (#361)
  Cargo.lock
  Cargo.toml
  crates/cli/src/cmd/embeddings/index.rs
  crates/lib/Cargo.toml
  crates/lib/src/core/df/sql.rs
  crates/lib/src/core/df/tabular.rs
  crates/lib/src/core/v_latest/data_frames.rs
  crates/lib/src/core/v_latest/push.rs
  crates/lib/src/core/v_latest/revisions.rs
  crates/lib/src/core/v_latest/workspaces/data_frames.rs
  crates/lib/src/core/v_latest/workspaces/data_frames/rows.rs
  crates/lib/src/core/v_latest/workspaces/files.rs
  crates/lib/src/model/diff/tabular_diff_summary.rs
  crates/lib/src/repositories/checkout.rs
  crates/lib/src/repositories/diffs.rs
  crates/lib/src/repositories/entries.rs
  crates/lib/src/repositories/fsck.rs
  crates/lib/src/repositories/revisions.rs
  crates/lib/src/repositories/workspaces/data_frames.rs
  crates/lib/src/storage.rs
  crates/lib/src/storage/local.rs
  crates/lib/src/storage/s3.rs
  crates/lib/src/storage/version_store.rs
  crates/lib/src/util/fs.rs
  crates/server/src/controllers/data_frames.rs
  crates/server/src/controllers/import.rs
  crates/server/src/controllers/workspaces/changes.rs
  crates/server/src/controllers/workspaces/data_frames.rs
  crates/server/src/controllers/workspaces/files.rs
  data/test/config/user_config.toml
Due: cargo-sort

fix diff double-downloading from S3; fix diff output (source filename and blank lines in diff)
  crates/cli/src/cmd/diff.rs
  crates/lib/src/repositories/diffs.rs
Due: none

Add unit test for invalid import targets
  crates/lib/src/repositories/workspaces/files.rs
Due: none

Rename scripts -> bin (#363)
  .dockerignore
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_macos.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci_lint.yml
  .pre-commit-config.yaml
  README.md
  RELEASING.md
  bin/backup_and_migrate_all_repos
  bin/backup_and_migrate_repo
  bin/bump-version
  bin/convert_from_git.py
  bin/generate-dataset.py
  bin/index_repos
  bin/install-prereqs
  bin/patch_dev_version
  bin/publish_test_pypi
  bin/test-rust
  bin/uniq_names.txt
  crates/lib/README.md
  tool-versions.env
Due: none

Fix diff for S3, diff output fixes (#362)
  crates/cli/src/cmd/diff.rs
  crates/lib/src/repositories/diffs.rs
Due: none

Fix typos
  bin/README.md
Due: none

Update data generation & upload testing tools + documents them (#321)
  bin/README.md
  bin/batch-workspace-upload
  bin/generate-dataset
  bin/generate-dataset.py
  bin/reorganize-dataset
  bin/reupload-single
Due: none

Path conditions:
  cargo-fmt-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-fmt-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-clippy-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-clippy-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-sort: any of: Cargo\.toml$
  ruff-check: any of: ^oxen-python/.*\.py$
  ruff-format: any of: ^oxen-python/.*\.py$
