Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

cargo-fmt-oxen-rust:
  name: cargo fmt (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo fmt'
  language: system
  pass_filenames: false

cargo-fmt-oxen-python:
  name: cargo fmt (oxen-python)
  entry: bash -c 'cd oxen-python && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy-oxen-rust:
  name: cargo clippy (oxen-rust)
  entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-clippy-oxen-python:
  name: cargo clippy (oxen-python)
  entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check (oxen-python)
  entry: bash -c 'uvx ruff check oxen-python/'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format (oxen-python)
  entry: bash -c 'uvx ruff format oxen-python/'
  language: system
  pass_filenames: false

Reproducible test for workspace:rm bug
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Fix delete directory bug
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/repositories/commits/commit_writer.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Move rm dir test into correct module
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Clean up and clarify workspace delete endpoints
  oxen-rust/src/cli/src/cmd/workspace/rm.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/server/src/controllers/workspaces/data_frames.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
  oxen-rust/src/server/src/services/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Docs fixes
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

tweak
  oxen-rust/scripts/backup_and_migrate_all_repos.sh
  oxen-rust/scripts/backup_and_migrate_repo.sh
Due: none

fix if
  oxen-rust/scripts/backup_and_migrate_all_repos.sh
  oxen-rust/scripts/index_repos.sh
Due: none

brew install | apt install shellcheck @ version
  scripts/install-pre-reqs.sh
Due: none

Don't eagerly delete workspace add-ed version files
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

no more "strict": files that don't exist cause errors
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

wip 'partial success' enum idea
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/util.rs
  oxen-rust/src/lib/src/util/types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

update docs
  oxen-python/python/oxen/__init__.py
  oxen-python/python/oxen/workspace.py
Due: ruff-check, ruff-format

Workspace::{add,add_files} return list of failed-to-upload paths
  oxen-python/python/oxen/workspace.py
  oxen-python/src/lib.rs
  oxen-python/src/py_types.rs
  oxen-python/src/py_workspace.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, ruff-check, ruff-format

fix review comments
  oxen-python/python/oxen/workspace.py
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, ruff-check, ruff-format

revert: just use type alias and documentation
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/util.rs
  oxen-rust/src/lib/src/util/types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Workspace and file delete fixes (#317)
  oxen-rust/src/cli/src/cmd/workspace/rm.rs
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/v_latest/workspaces/files.rs
  oxen-rust/src/lib/src/repositories/commits/commit_writer.rs
  oxen-rust/src/lib/src/repositories/workspaces/files.rs
  oxen-rust/src/server/src/controllers/workspaces/changes.rs
  oxen-rust/src/server/src/controllers/workspaces/data_frames.rs
  oxen-rust/src/server/src/controllers/workspaces/files.rs
  oxen-rust/src/server/src/main.rs
  oxen-rust/src/server/src/services/workspaces.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

log of compilation times
  oxen-rust/log_compile_times
Due: none

refactor file uploads to oxen-server to be parsed by actix, rather than manually
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Gs/df unique count (#305)
  oxen-rust/src/benches/src/oxen/workspace_add.rs
  oxen-rust/src/cli/src/cmd/df.rs
  oxen-rust/src/lib/src/api/client/workspaces/commits.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/core/df/tabular.rs
  oxen-rust/src/lib/src/opts/df_opts.rs
  oxen-rust/src/lib/src/repositories.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Upgrade pyarrow to 23.0.1 (>=22.0.0) (#329)
  oxen-python/pyproject.toml
  oxen-python/uv.lock
Due: none

raise_on_failure: bool = True: backwards compatability
  oxen-python/python/oxen/workspace.py
Due: ruff-check, ruff-format

Update oxen-rust/scripts/index_repos.sh
  oxen-rust/scripts/index_repos.sh
Due: none

remove unused dependencies
  oxen-python/Cargo.lock
  oxen-python/Cargo.toml
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/src/lib/Cargo.toml
Due: cargo-sort

add deprecation notice for 'file' field
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

install shellcheck to user-owned bin dir (~/.local/bin or $XDG_BIN_HOME) -- no sudo access needed
  scripts/install-pre-reqs.sh
Due: none

Revert "brew install | apt install shellcheck @ version"
  scripts/install-pre-reqs.sh
Due: none

Workspace::{add,add_files} return list of failed-to-upload paths (#326)
  oxen-python/python/oxen/__init__.py
  oxen-python/python/oxen/workspace.py
  oxen-python/src/lib.rs
  oxen-python/src/py_types.rs
  oxen-python/src/py_workspace.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, ruff-check, ruff-format

fix double //
  scripts/install-pre-reqs.sh
Due: none

use no-timeout client for large transfers
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix off-by-1 index error in multipart_batch_upload_with_retry
  oxen-rust/src/lib/src/api/client/versions.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Standardized keep-alive and retry logic for http clients
  oxen-rust/src/lib/src/api/client.rs
  oxen-rust/src/lib/src/api/client/commits.rs
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
  oxen-rust/src/lib/src/api/client/retry.rs
  oxen-rust/src/lib/src/api/client/tree.rs
  oxen-rust/src/lib/src/api/client/versions.rs
  oxen-rust/src/lib/src/api/client/workspaces/files.rs
  oxen-rust/src/lib/src/constants.rs
  oxen-rust/src/lib/src/core/v_latest/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Refactor file uploads to oxen-server to be parsed by actix (#330)
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

update PUT file to allow full destination path in URL (#322)
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/server/src/controllers/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

init telemetry and remove logging init
  oxen-rust/src/lib/src/test.rs
  oxen-rust/src/lib/src/util/logging.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

install cmake on macos
  scripts/install-pre-reqs.sh
Due: none

use async sleep in async code
  oxen-rust/src/lib/src/api/client/commits.rs
  oxen-rust/src/lib/src/api/client/repositories.rs
  oxen-rust/src/lib/src/api/client/workspaces/data_frames/embeddings.rs
  oxen-rust/src/lib/src/test.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

bump nextest's leak-timout from 100ms to 1s to give complicated tests time for subprocesses to exit before being marked as leaky
  oxen-rust/.config/nextest.toml
Due: none

merge with greg's changes to put_file
  oxen-rust/src/lib/src/api/client/file.rs
  oxen-rust/src/lib/src/api/client/import.rs
  oxen-rust/src/lib/src/util.rs
  oxen-rust/src/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

clippy fixes
  oxen-rust/src/lib/src/api/client/file.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Path conditions:
  cargo-fmt-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-fmt-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-clippy-oxen-rust: any of: ^oxen-rust/.*\.rs$
  cargo-clippy-oxen-python: any of: ^oxen-python/.*\.rs$
  cargo-sort: any of: Cargo\.toml$
  ruff-check: any of: ^oxen-python/.*\.py$
  ruff-format: any of: ^oxen-python/.*\.py$
