Repository Oxen-AI/Oxen: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-oxen-rust, cargo-fmt-oxen-python, cargo-clippy-oxen-rust, cargo-clippy-oxen-python, cargo-sort, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt-oxen-rust
        name: cargo fmt (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo fmt'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-oxen-python
        name: cargo fmt (oxen-python)
        entry: bash -c 'cd oxen-python && cargo fmt'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-rust
        name: cargo clippy (oxen-rust)
        entry: bash -c 'cd oxen-rust && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-rust/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-oxen-python
        name: cargo clippy (oxen-python)
        entry: bash -c 'cd oxen-python && cargo clippy --no-deps -- -D warnings'
        language: system
        files: ^oxen-python/.*\.rs$
        pass_filenames: false

      - id: cargo-sort
        name: cargo sort
        entry: bash -c 'for f in "$@"; do cargo sort "$(dirname "$f")" || exit 1; done' --
        language: system
        files: Cargo\.toml$
        pass_filenames: true

      - id: ruff-check
        name: ruff check (oxen-python)
        entry: bash -c 'uvx ruff check oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

      - id: ruff-format
        name: ruff format (oxen-python)
        entry: bash -c 'uvx ruff format oxen-python/'
        language: system
        files: ^oxen-python/.*\.py$
        pass_filenames: false

simplify/revert stuff in search for the bug
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/import.rs
  oxen-rust/crates/lib/src/constants.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

reqwest 0.13.2 was already being used in the lockfile, make it explicit in Cargo.toml since we're using a retry API created in 0.12.23
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
Due: cargo-sort

bump default reqwest timeout from 2 minutes (120s) to 10 minutes (600s)
  oxen-rust/crates/lib/src/constants.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

bump reqwest retries from 2 to 3, and retry on application-level errors
  oxen-rust/crates/lib/src/api/client.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

only retry server errors -- the other error types don't make sense to retry
  oxen-rust/crates/lib/src/api/client.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

still retry on low-level errors
  oxen-rust/crates/lib/src/api/client.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Add Cargo.lock in oxen-python as well
  oxen-python/Cargo.lock
Due: none

Bump timeout and retry requests (#343)
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/constants.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

cleanup the client.rs file a bit
  oxen-rust/crates/cli/src/helpers.rs
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/repositories.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Cleanup the client.rs file a bit (#344)
  oxen-rust/crates/cli/src/helpers.rs
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/repositories.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

Reapply "Standardized keep-alive and retry logic for http clients (#325)" (#341)
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/import.rs
  oxen-rust/crates/lib/src/api/client/retry.rs
  oxen-rust/crates/lib/src/api/client/tree.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/constants.rs
  oxen-rust/crates/lib/src/core/v_latest/push.rs
  oxen-rust/crates/lib/src/util.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

FIX - use Host for building client to get auth correct
  oxen-rust/crates/cli/src/cmd/clone.rs
  oxen-rust/crates/cli/src/helpers.rs
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/repositories.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/config/auth_config.rs
  oxen-rust/crates/lib/src/error.rs
  oxen-rust/crates/lib/src/model/repository/remote_repository.rs
  oxen-rust/crates/lib/src/repositories/workspaces/upload.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

improve test debugability
  oxen-rust/crates/lib/src/api/client/compare.rs
  oxen-rust/crates/lib/src/test.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

need to include port in host -- make new function & Hostname struct
  oxen-rust/crates/cli/src/cmd/clone.rs
  oxen-rust/crates/cli/src/helpers.rs
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/repositories.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/config/auth_config.rs
  oxen-rust/crates/lib/src/model/repository/remote_repository.rs
  oxen-rust/crates/lib/src/model/repository/repo_new.rs
  oxen-rust/crates/lib/src/repositories/workspaces/upload.rs
  oxen-rust/crates/lib/src/util.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

move Hostname struct
  oxen-rust/crates/lib/src/api/client.rs
  oxen-rust/crates/lib/src/api/client/commits.rs
  oxen-rust/crates/lib/src/api/client/file.rs
  oxen-rust/crates/lib/src/api/client/repositories.rs
  oxen-rust/crates/lib/src/api/client/versions.rs
  oxen-rust/crates/lib/src/api/client/workspaces/files.rs
  oxen-rust/crates/lib/src/model/repository/remote_repository.rs
  oxen-rust/crates/lib/src/model/repository/repo_new.rs
  oxen-rust/crates/lib/src/util/internal_types.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

install the prereqs for ffmpeg on macOS
  scripts/install-pre-reqs.sh
Due: none

Install the prereqs for ffmpeg on macOS (#346)
  scripts/install-pre-reqs.sh
Due: none

encapsulate derived version file access behind the VersionStore trait
  oxen-rust/crates/lib/src/storage/local.rs
  oxen-rust/crates/lib/src/storage/s3.rs
  oxen-rust/crates/lib/src/storage/version_store.rs
  oxen-rust/crates/lib/src/util/fs.rs
  oxen-rust/crates/server/src/controllers/file.rs
  oxen-rust/crates/server/src/controllers/versions.rs
  oxen-rust/crates/server/src/controllers/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

remove unhelpful default server settings
  oxen-rust/crates/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix tabular functions that panic'd in async tasks
  oxen-rust/crates/lib/src/core/df/tabular.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

add an --ffmpeg flag; fix order of operations (install prereqs first); simplify
  oxen-rust/scripts/test-rust.sh
Due: none

A few test script improvements (#349)
  oxen-rust/scripts/test-rust.sh
Due: none

Remove unhelpful default server settings (#348)
  oxen-rust/crates/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

drop support for Python 3.10 for future releases (>0.46.2)
  .github/workflows/build_and_publish_test_pypi.yml
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  RELEASING.md
  oxen-python/pyproject.toml
  oxen-python/uv.lock
  oxen-rust/cli-test/pyproject.toml
  oxen-rust/cli-test/uv.lock
  scripts/generate-dataset.py
Due: none

fix the df functionality for rename-col, randomize, and vstack. add tests for the fixes. also add tests for add-col and add-row, because they didn't have any
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/crates/lib/src/core/df/tabular.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

Add Python 3.14 support, drop Python 3.10 support (#340)
  .github/workflows/build_and_publish_test_pypi.yml
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  RELEASING.md
  oxen-python/pyproject.toml
  oxen-python/uv.lock
  oxen-rust/cli-test/pyproject.toml
  oxen-rust/cli-test/uv.lock
  scripts/generate-dataset.py
Due: none

Encapsulate derived version file access behind the VersionStore trait (#347)
  oxen-rust/crates/lib/src/storage/local.rs
  oxen-rust/crates/lib/src/storage/s3.rs
  oxen-rust/crates/lib/src/storage/version_store.rs
  oxen-rust/crates/lib/src/util/fs.rs
  oxen-rust/crates/server/src/controllers/file.rs
  oxen-rust/crates/server/src/controllers/versions.rs
  oxen-rust/crates/server/src/controllers/workspaces/files.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

commit updated lockfile
  oxen-python/Cargo.lock
Due: none

enable colors in pre-commit in CI; output 'git status' in color if pre-commit fails in CI
  .github/workflows/ci_lint.yml
Due: none

still fail if pre-commit fails
  .github/workflows/ci_lint.yml
Due: none

automatically delete test output after tests are done, add a --keep flag to leave them there for debugging
  oxen-rust/scripts/test-rust.sh
Due: none

Fix df {randomize, rename-col, vstack} (#351)
  oxen-python/Cargo.lock
  oxen-rust/Cargo.lock
  oxen-rust/Cargo.toml
  oxen-rust/crates/lib/src/core/df/tabular.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust, cargo-sort

we need to clean up both data/ox and data/test/runs
  oxen-rust/scripts/test-rust.sh
Due: none

Improve pre-commit CI output (#352)
  .github/workflows/ci_lint.yml
Due: none

begin range of random ports well after the standard 3000-3003 ports we use for various things
  oxen-rust/scripts/test-rust.sh
Due: none

Cleanup tests after testing (#353)
  oxen-rust/scripts/test-rust.sh
Due: none

FIX: fetch failure for large files under a directory
  oxen-rust/crates/lib/src/core/v_latest/fetch.rs
  oxen-rust/crates/lib/src/repositories/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fix
  oxen-rust/crates/lib/src/core/v_latest/fetch.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

request id in actix logs
  oxen-rust/crates/server/src/main.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust

fmt
  oxen-rust/crates/lib/src/core/v_latest/fetch.rs
  oxen-rust/crates/lib/src/repositories/push.rs
Due: cargo-fmt-oxen-rust, cargo-clippy-oxen-rust
